<template>
  <div v-if="antenna.antenna">
    <Suspense>
      <Antenna :item="antenna.antenna" :editable="true"></Antenna>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import Antenna from '~/components/Antenna.vue'

export default defineComponent({
    components: {
        Antenna: defineAsyncComponent(() => import("@/components/Antenna.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchAntenna(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            antenna: (state) => state.antenna
        }),
    },
    methods: {
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
