<template>
  <div v-if="radio.radio">
    <Suspense>
      <RadioEdit
        :item="radio.radio"
        @modified="(params) => handleModified(params)"
      ></RadioEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import RadioEdit from '~/components/RadioEdit.vue'

export default defineComponent({
    components: {
        RadioEdit: defineAsyncComponent(() => import("@/components/RadioEdit.vue")),
    },
    async mounted() {
        await this.$zoneStore.fetchRadio(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            radio: (state) => state.radio
        }),
    },
    methods: {
        handleModified(params) {
            this.radio.radio = params.item
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
