<template>
  <div v-if="location.location">
    <Suspense>
      <Location :item="location.location" :editable="true"></Location>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import Location from '~/components/Location.vue'

export default defineComponent({
    components: {
        Location: defineAsyncComponent(() => import("@/components/Location.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchLocation(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            location: (state) => state.location
        }),
    },
    methods: {
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
