<template>
  <div v-if="user.user">
    <User
      :item="user.user"
      :editable="true"
      @updated="updateUser(this.$route.params.id)"
      @deleted="this.$router.back()"
    ></User>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import User from '~/components/User.vue'

export default defineComponent({
    components: {
        User: defineAsyncComponent(() => import("@/components/User.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchUser(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            user_id: (state) => state.user_id
        }),
        ...mapState(zoneStore, {
            user: (state) => state.user
        }),
    },
    methods: {
        async updateUser(id) {
            return this.$zoneStore.fetchUser(id)
        },
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
