<template>
  <div v-if="user.tokens">
    <TokenList
      :user="user.user"
      :token="is_admin ? admin_token : token"
      :tokens="user.tokens"
      :editable="true"
      @updated="update()"
    ></TokenList>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import TokenList from '~/components/TokenList.vue'

export default defineComponent({
    components: {
        TokenList: defineAsyncComponent(() => import("@/components/TokenList.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchUser(this.$route.params.id)
        await this.$zoneStore.fetchUserTokens(this.$route.params.id)
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(userStore, {
            token: (state) => state.token,
            admin_token: (state) => state.admin_token,
        }),
        ...mapState(zoneStore, {
            user: (state) => state.user
        }),
    },
    methods: {
        async update() {
            await this.$zoneStore.fetchUser(this.$route.params.id)
            await this.$zoneStore.fetchUserTokens(this.$route.params.id)
        },
    },
    watch: {
        is_admin() {}
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
