<template>
  <!-- Very important that div/NuxtLayout is the same path from root
    -- template for both app.vue and error.vue
    -- (https://github.com/nuxt/nuxt/issues/13309)
    -->
  <div>
    <NuxtLayout>
      <NuxtPage/>
    </NuxtLayout>
  </div>
</template>
