<template>
  <div v-if="radio">
    <Suspense>
      <RadioEdit
        :item="radio"
        :create="true"
        @created="(params) => handleCreated(params)"
      ></RadioEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import RadioEdit from '~/components/RadioEdit.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'

export default defineComponent({
    components: {
        RadioEdit: defineAsyncComponent(() => import("@/components/RadioEdit.vue")),
    },
    data() {
        return {
            radio: {
                element_id: (this.is_admin ? null : this.$userStore.element_id),
                name: "",
                description: "",
                fcc_id: "",
                device_id: "",
                serial_number: "",
                enabled: false,
                location_id: null
            }
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
    },
    methods: {
        handleCreated(params) {
            console.log("radios.create:handleCreated", params)
            this.radio.radio = params.item
            // Take user back to the edit page for adding ports
            navigateTo("/radios/" + params.item.id + "/edit")
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
