<template>
  <v-container>
    <RAObservationList
      v-if="ready"
      :items="items"
      :page="page"
      :total="total"
      :initialFilters="filters"
      :initialOptions="options"
      @needs-update="(params) => update(params)"
    ></RAObservationList>
  </v-container>
</template>

<script>
import RAObservationList from '~/components/RAObservationList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import { filtersStore } from '~/stores/filters'

export default defineComponent({
    name: "raobservations",
    data() {
        return {
            ready: false,
            filters: {
                raobservation: '',
                current: {
                    value: true,
                    indeterminate: true
                },
                future: {
                    value: true,
                    indeterminate: true
                },
                past: {
                    value: true,
                    indeterminate: true
                },
            },
            options: {
                itemsPerPage: 10,
                page: 1,
                sortBy: [{
                    key: 'dateTimeStart',
                    order: 'desc'
                }]
            },
            // Fake ra observation data
            items: [
                {
                    "transactionId": "0b5de183-afe5-44a1-b323-56c680b2c7b5",
                    "dateTimePublished": "2023-08-16T15:23:47.000Z",
                    "dateTimeCreated": "2023-08-16T15:23:47.000Z",
                    "checksum": "a35cf7d9",
                    "numberEvents": 1,
                    "eventId": 1,
                    "eventStatus": "actual",
                    "site_id": "HCRO",
                    "src_id": "J1056+7011",
                    "dateTimeStart": "2023-08-16T15:23:47.000541Z",
                    "dateTimeStop": "2023-08-16T15:26:16.000723Z",
                    "freqStart": 26000000000,
                    "freqStop": 40000000000,
                    "regionSize": 0.0034,
                    "regionX": 70.88181332916666,
                    "regionY": 34.685184469444444,
                    "coordType": "radec",
                    "grantId": "GRANT-ID-001"
}
            ],
            total: 1,
            page: 1,
            pages: 1
        }
    },
    async mounted() {
        console.log("raobservations:mounted", this);
        this.$filtersStore.dump();

        if (window.history.state.forward != null &&
            this.$filtersStore.haveFilters(this.$options.name)) {
            var ref = this.$filtersStore.getFilters(this.$options.name);
            this.filters = ref.filters;
            this.options = ref.options;
            console.log("raobservations:mounted:filters", this.filters, this.options);
        }
        else {
            console.log("setting up fake raobservation")
            this.$filtersStore.clearFilters(this.$options.name);
            var params = {
                options: this.options,
                filters: this.filters,
            };
            this.update(params);
            // Comment out the original API call
            // await this.update(params);
        }
        this.ready = true;
    },
    // Comment out the original computed section
    /*
    computed: {
        ...mapState(zoneStore, {
            items: (state) => state.raobservations.raobservations,
            total: (state) => state.raobservations.total,
            page: (state) => state.raobservations.page,
            pages: (state) => state.raobservations.pages,
        }),
    },
    */
    methods: {
        update(params) {
            var payload = {};
            
            if (params.filters.raobservation != "")
                payload['raobservation'] = params.filters.raobservation
            if (!params.filters.current.indeterminate)
                payload['current'] = params.filters.current.value
            if (!params.filters.future.indeterminate)
                payload['future'] = params.filters.future.value
            if (!params.filters.past.indeterminate)
                payload['past'] = params.filters.past.value
            
            payload.page = params.options.page;
            payload.items_per_page = params.options.itemsPerPage;
            if (params.options.sortBy[0] !== undefined) {
                if (params.options.sortBy[0].key) {                    
                    payload['sort'] = params.options.sortBy[0].key;
                }
                if (params.options.sortBy[0].order === 'asc') {
                    payload['sort_asc'] = true;
                }
            }
            this.options = params.options;
            this.filters = params.filters;

            this.$filtersStore.setFilters(this.$options.name,
                                          params.filters, params.options);
            
            console.log("raobservations:update", this.ready, params, payload)
            // Comment out the original API call
            // await this.$zoneStore.fetchRaobservations(payload)
        }
    },
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>