<template>
  <div v-if="element.element">
    <Suspense>
      <ElementEdit
        :item="element.element"
        @modified="(params) => handleModified(params)">
      </ElementEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import ElementEdit from '~/components/ElementEdit.vue'

export default defineComponent({
    components: {
        ElementEdit: defineAsyncComponent(() => import("@/components/ElementEdit.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchElement(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            element: (state) => state.element
        }),
    },
    methods: {
        handleModified(params) {
            console.log("Element:edit:handleModified", params);
            this.element.element = params.item
        }
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
