<template>
  <v-container>
    <GrantList
      v-if="element_id && ready"
      :items="items"
      :page="page"
      :total="total"
      :initialFilters="filters"
      :initialOptions="options"
      @needs-update="(params) => update(params)"
    ></GrantList>
  </v-container>
</template>

<script>
import GrantList from '~/components/GrantList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import { filtersStore } from '~/stores/filters'

export default defineComponent({
    name: "elements/grants",
    data() {
        return {
            ready: false,
            filters: {
                grant: '',
                approved: {
                    value: true,
                    indeterminate: true
                },
                owner_approved: {
                    value: true,
                    indeterminate: true
                },
                current: {
                    value: true,
                    indeterminate: true
                },
                denied: {
                    value: true,
                    indeterminate: true
                },
                revoked: {
                    value: true,
                    indeterminate: true
                },
                deleted: false,
            },
            options: {
                itemsPerPage: 10,
                page: 1,
                sortBy: [{
                    key: 'updated_at',
                    order: 'desc'
                }]
            },
        }
    },
    async mounted() {
        console.log("elements:grants:mounted", this);
        this.$filtersStore.dump();

        /*
         * Restore filters from the store if we are "backing" up to the page.
         * When going "forward" we wipe out the filters. 
         */
        if (window.history.state.forward != null &&
            this.$filtersStore.haveFilters(this.$options.name)) {
            var ref = this.$filtersStore.getFilters(this.$options.name);
            this.filters = ref.filters;
            this.options = ref.options;
            console.log("elements:grants:mounted:filters", this.filters, this.options);
        }
        else {
            console.log("fetching grants")
            this.$filtersStore.clearFilters(this.$options.name);
            var params = {
                options: this.options,
                filters: this.filters,
            };
            await this.update(params);
        }
        this.ready = true;
    },
    computed: {
        ...mapState(userStore, {
            element_id: (state) => state.element_id,
        }),
        ...mapState(zoneStore, {
            items: (state) => state.grants.grants,
            total: (state) => state.grants.total,
            page: (state) => state.grants.page,
            pages: (state) => state.grants.pages,
        }),
    },
    methods: {
        async update(params) {
            var payload = {
                element_id: this.element_id
            };
            
            if (params.filters.grant != "")
                payload['grant'] = params.filters.grant
            if (!params.filters.approved.indeterminate)
                payload['approved'] = params.filters.approved.value
            if (!params.filters.owner_approved.indeterminate)
                payload['owner_approved'] = params.filters.owner_approved.value;
            if (!params.filters.denied.indeterminate)
                payload['denied'] = params.filters.denied.value
            if (!params.filters.revoked.indeterminate)
                payload['revoked'] = params.filters.revoked.value
            if (!params.filters.current.indeterminate)
                payload['current'] = params.filters.current.value
            payload['deleted'] = params.filters.deleted;
            
            payload.page = params.options.page;
            payload.items_per_page = params.options.itemsPerPage;
            if (params.options.sortBy[0] !== undefined) {
                if (params.options.sortBy[0].key) {                    
                    payload['sort'] = params.options.sortBy[0].key;
                }
                if (params.options.sortBy[0].order === 'asc') {
                    payload['sort_asc'] = true;
                }
            }
            this.options = params.options;
            this.filters = params.filters;

            // Save current filter.options values for backing up.
            this.$filtersStore.setFilters(this.$options.name,
                                          params.filters, params.options);
            
            console.log("elements:grants:update", this.ready, params, payload)
            await this.$zoneStore.fetchGrants(payload)
        }
    },
    watch: {
        async element_id(val) {
            if (val) {
                var params = {
                    options: this.options,
                    filters: this.filters,
                };
                await this.update(params);
            }
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
