<template>
  <div v-if="element.element">
    <Suspense>
      <Element :item="element.element" :editable="true"></Element>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { zoneStore } from '~/stores/zone'
import Element from '~/components/Element.vue'

export default defineComponent({
    components: {
        Element: defineAsyncComponent(() => import("@/components/Element.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchElement(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            element: (state) => state.element
        }),
    },
    methods: {
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
