<template>
  <v-container>
    <MonitorList
      v-if="element_id && ready"
      :items="items"
      :page="page"
      :total="total"
      :initialFilters="filters"
      :initialOptions="options"
      @needs-update="(params) => update(params)"
    ></MonitorList>
  </v-container>
</template>

<script>
import MonitorList from '~/components/MonitorList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import { filtersStore } from '~/stores/filters'

export default defineComponent({
    name: "elements/monitors",
    data() {
        return {
            ready: false,
            filters: {
                monitor: '',
                types: '',
                formats: '',
                enabled: {
                    value: true,
                    indeterminate: true
                },
                exclusive: {
                    value: true,
                    indeterminate: true
                },
                deleted: false,
            },
            options: {
                itemsPerPage: 10,
                page: 1,
                sortBy: [{
                    key: 'updated_at',
                    order: 'desc'
                }]
            },
        }
    },
    async mounted() {
        console.log("monitors:mounted", this);
        this.$filtersStore.dump();

        /*
         * Restore filters from the store if we are "backing" up to the page.
         * When going "forward" we wipe out the filters. 
         */
        if (window.history.state.forward != null &&
            this.$filtersStore.haveFilters(this.$options.name)) {
            var ref = this.$filtersStore.getFilters(this.$options.name);
            this.filters = ref.filters;
            this.options = ref.options;
            console.log("monitors:mounted:filters", this.filters, this.options);
        }
        else {
            console.log("fetching monitors")
            this.$filtersStore.clearFilters(this.$options.name);
            var params = {
                options: this.options,
                filters: this.filters,
            };
            await this.update(params);
        }
        this.ready = true;
    },
    computed: {
        ...mapState(userStore, {
            element_id: (state) => state.element_id,
        }),
        ...mapState(zoneStore, {
            items: (state) => state.monitors.monitors,
            total: (state) => state.monitors.total,
            page: (state) => state.monitors.page,
            pages: (state) => state.monitors.pages,
        }),
    },
    methods: {
        async update(params) {
            var payload = {
                element_id: this.element_id
            };
            
            if (params.filters.monitor != "")
                payload['monitor'] = params.filters.monitor
            if (params.filters.types != "")
                payload['types'] = params.filters.types
            if (params.filters.formats != "")
                payload['formats'] = params.filters.formats
            if (!params.filters.enabled.indeterminate)
                payload['enabled'] = params.filters.enabled.value
            if (!params.filters.exclusive.indeterminate)
                payload['exclusive'] = params.filters.exclusive.value
            payload['deleted'] = params.filters.deleted;
            
            payload.page = params.options.page;
            payload.items_per_page = params.options.itemsPerPage;
            if (params.options.sortBy[0] !== undefined) {
                if (params.options.sortBy[0].key) {                    
                    payload['sort'] = params.options.sortBy[0].key;
                }
                if (params.options.sortBy[0].order === 'asc') {
                    payload['sort_asc'] = true;
                }
            }
            this.options = params.options;
            this.filters = params.filters;
            // Save current filter.options values for backing up.
            this.$filtersStore.setFilters(this.$options.name,
                                          params.filters, params.options);
            
            console.log("monitors:update", params, payload)
            await this.$zoneStore.fetchMonitors(payload)
        },
    },
    watch: {
        async element_id(val) {
            if (val) {
                var params = {
                    options: this.options,
                    filters: this.filters,
                };
                this.update(params);
            }
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
