<template>
  <v-container>
    <ObservationList
      v-if="element_id && ready"
      :items="items"
      :page="page"
      :total="total"
      :initialFilters="filters"
      :initialOptions="options"
      @needs-update="(params) => update(params)"
    ></ObservationList>
  </v-container>
</template>

<script>
import ObservationList from '~/components/ObservationList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { zoneStore } from '~/stores/zone'
import { filtersStore } from '~/stores/filters'

export default defineComponent({
    name: "elements/observations",
    data() {
        return {
            ready: false,
            filters: {
                observation: '',
                types: '',
                format: '',
                freq: '',
                violation: {
                    value: true,
                    indeterminate: true
                },
            },
            options: {
                itemsPerPage: 10,
                page: 1,
                sortBy: [{
                    key: 'updated_at',
                    order: 'desc'
                }]
            },
        }
    },
    async mounted() {
        console.log("observations:mounted", this);
        this.$filtersStore.dump();

        /*
         * Restore filters from the store if we are "backing" up to the page.
         * When going "forward" we wipe out the filters. 
         */
        if (window.history.state.forward != null &&
            this.$filtersStore.haveFilters(this.$options.name)) {
            var ref = this.$filtersStore.getFilters(this.$options.name);
            this.filters = ref.filters;
            this.options = ref.options;
            console.log("observations:mounted:filters", this.filters, this.options);
        }
        else {
            console.log("fetching observations")
            this.$filtersStore.clearFilters(this.$options.name);
            var params = {
                options: this.options,
                filters: this.filters,
            };
            await this.update(params);
        }
        this.ready = true;
    },
    computed: {
        ...mapState(userStore, {
            element_id: (state) => state.element_id,
        }),
        ...mapState(zoneStore, {
            items: (state) => state.observations.observations,
            total: (state) => state.observations.total,
            page: (state) => state.observations.page,
            pages: (state) => state.observations.pages,
        }),
    },
    methods: {
        async update(params) {
            var payload = {
                element_id: this.element_id
            };
            
            if (params.filters.observation != "")
                payload['observation'] = params.filters.observation
            if (params.filters.types != "")
                payload['types'] = params.filters.types
            if (params.filters.format != "")
                payload['format'] = params.filters.format
            if (params.filters.freq != "")
                payload['freq'] = params.filters.freq
            if (!params.filters.violation.indeterminate)
                payload['violation'] = params.filters.violation.value

            payload.page = params.options.page;
            payload.items_per_page = params.options.itemsPerPage;
            if (params.options.sortBy[0] !== undefined) {
                if (params.options.sortBy[0].key) {                    
                    payload['sort'] = params.options.sortBy[0].key;
                }
                if (params.options.sortBy[0].order === 'asc') {
                    payload['sort_asc'] = true;
                }
            }
            this.options = params.options;
            this.filters = params.filters;
            // Save current filter.options values for backing up.
            this.$filtersStore.setFilters(this.$options.name,
                                          params.filters, params.options);
            
            if ('monitor_id' in this.$route.query) {
                payload["monitor_id"] = this.$route.query.monitor_id;
            }
            console.log("observations:update", params, payload)
            await this.$zoneStore.fetchObservations(payload)
        }
    },
    watch: {
        async element_id(val) {
            if (val) {
                var params = {
                    options: this.options,
                    filters: this.filters,
                };
                await this.update(params);
            }
        },
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
