<template>
  <v-container>
    <UserList
      v-if="element_id"
      :items="items"
      :page="page"
      :total="total"
      :itemsPerPage="itemsPerPage"
      @needs-update="(params) => update(params)"
    ></UserList>
  </v-container>
</template>

<script>
import UserList from '~/components/UserList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'

export default defineComponent({
    data() {
        return {
            itemsPerPage: 10
        }
    },
    computed: {
        ...mapState(userStore, {
            element_id: (state) => state.element_id,
        }),
        ...mapState(zoneStore, {
            items: (state) => state.users.users,
            total: (state) => state.users.total,
            page: (state) => state.users.page,
            pages: (state) => state.users.pages,
        }),
    },
    methods: {
        update(params) {
            var payload = {
                page: params.page || this.page || 1,
                items_per_page: params.itemsPerPage || this.itemsPerPage,
                element_id: this.$userStore.element_id,
            }
            if (params.user) payload['user'] = params.user
            if (params.role) payload['role_id'] = params.role
            if (params.enabled !== undefined) payload['enabled'] = params.enabled
            if (params.deleted !== undefined) payload['deleted'] = params.deleted
            if (params.sort) payload['sort'] = params.sort
            if (params.sort_asc) payload['sort_asc'] = true

            console.info("users:update", payload);
            this.$zoneStore.fetchUsers(payload)
        }
    },
    watch: {
        element_id(val) {
            if (val) {
                this.update({})
            }
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
