<template>
  <v-sheet
    class="d-flex align-center mb-3
           justify-center flex-wrap text-center mx-auto px-4"
    elevation="4"
    height="100"
    rounded
    max-width="800"
    width="100%"
  >
    <div>
      <h2 class="text-h4 font-weight-black text-orange">
      This page is still under construction!</h2>
    </div>
  </v-sheet>
  <v-card>
    <v-container class="pt-0"> 
      <v-row>
        <v-col cols=12>
          <div class="d-flex justify-center">
            <span class="text-h6">
              Report a Spectrum Violation</span>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col v-if="ready" cols=6 offset=3>
          <v-form
            v-model="isFormValid"
            >
            <v-select
              class="mb-3"
              v-model="spectrum_id"
              :items="spectrum_list"
              label="Select Spectrum"
              :rules="[rules.required]"
              required
              ></v-select>
            <v-select
              class="mb-3"
              v-model="action"
              :items="actions"
              label="Action"
              :rules="[rules.required]"
              required
              ></v-select>
            <v-textarea
              class="mb-3"
              v-model="description"
              label="Description of Issue"
              variant="filled"
              placeholder="Please provide brief description of the issue"
              auto-grow
              :rules="[rules.required]"
              required
              ></v-textarea>
            <v-btn
              class="px-3"
              color="success"
              elevation="2"
              :disabled="!isFormValid">
              Submit
              <Confirm activator="parent"
                       message="Are you sure you want to submit this report?"
                       @confirmed="submit">
              </Confirm>
            </v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
  <v-card v-if='currentSpectrum'>
    <Spectrum :item="currentSpectrum" :editable="false"></Spectrum>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers';
import '~/lib/event';
</script>

<script>
import { defineAsyncComponent } from 'vue';
import { mapState } from 'pinia';
import { zoneStore } from '~/stores/zone';
import { clientStore } from '~/stores/client';
import { formRules } from '~/lib/formrules'
import Confirm from '~/components/Confirm.vue'
import Spectrum from '~/components/Spectrum.vue'

export default defineComponent({
    data() {
        return {
            ready: false,
            rules: formRules(),
            spectrum_id: "",
            spectrum_list: [],
            currentSpectrum: null,
            actions: [
                {
                    title: "Report Only",
                    value: "report",
                },
                {
                    title: "Shutdown Activity",
                    value: "shutdown",
                },
            ],
            action: "",
            description: "",
            isFormValid: false,
        }
    },
    async mounted() {
        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            approved: true,
            denied: false,
            deleted: false,
        };
        await this.$zoneStore.fetchSpectrums(payload);
        for (var i = 0; i < this.spectrums.length; ++i) {
            var s = this.spectrums[i];
            this.spectrum_list.push({
                title: s.description,
                value: s.id,
            });
        }
        console.log(this.spectrum_list);
        this.ready = true;
    },
    computed: {
        ...mapState(zoneStore, {
            spectrums: (state) => state.spectrums.spectrum,
        }),
    },
    methods: {
        async submit() {
            console.log("Submit", this);
        },
    },
    watch: {
        spectrum_id(id) {
            for (var i = 0; i < this.spectrums.length; ++i) {
            var s = this.spectrums[i];
                if (s.id == id) {
                    this.currentSpectrum = s;
                }
            }
        },
    }
});
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
