<template>
  <v-sheet
    class="d-flex align-center mt-3
           justify-center flex-wrap text-center mx-auto px-4"
    elevation="4"
    height="250"
    rounded
    max-width="800"
    width="100%"
  >
    <div>
      <h2 class="text-h4 font-weight-black text-orange">
      This page is still under construction!</h2>

      <p class="text-body-2">
        Please check back later
      </p>
    </div>
  </v-sheet>
</template>
