<template>
<div class="mx-4">
  <div v-if="!observation">
    <v-container class="pt-0">
      <v-row>
        <v-col cols=12>
          <div class="d-flex justify-center mt-3">
            <div class="text-h6">
              Waiting for the first observation. Patience please!
            </div>
          </div>
        </v-col>
        <v-row>
          <v-col cols=12>
            <div class="d-flex justify-center mt-3">
              <v-progress-circular
                color="primary"
                indeterminate
                ></v-progress-circular>
              
              <v-progress-circular
                color="red"
                indeterminate
                ></v-progress-circular>
              
              <v-progress-circular
                color="purple"
                indeterminate
                ></v-progress-circular>
              
              <v-progress-circular
                color="green"
                indeterminate
                ></v-progress-circular>
              
              <v-progress-circular
                color="amber"
                indeterminate
                ></v-progress-circular>
            </div>
          </v-col>
        </v-row>
      </v-row>
    </v-container>
  </div>
  <div v-if="observation">
    <Suspense>
      <Kurtosis :observation="observation"></Kurtosis>
    </Suspense>
  </div>
</div>
</template>

<style>
.v-progress-circular {
  margin: 1rem;
}
</style>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import '~/lib/event';
</script>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'
import { eventStore } from '~/stores/event'
import { clientStore } from '~/stores/client'
import Kurtosis from '~/components/Kurtosis.vue'

export default defineComponent({
    data() {
        return {
            monitor_id : this.$route.params.id,
        }
    },
    async mounted() {
        console.log("monitor:viewer:mounted", this);
        this.$zoneStore.clearObservation();
        await this.initEvents();
    },
    async unmounted() {
        console.log("monitor:viewer:unmounted", this);
        await this.deinitEvents();
        this.$zoneStore.clearObservation();
    },
    computed: {
        ...mapState(zoneStore, {
            observation: (state) => state.observation,
        }),
    },
    methods: {
        async handleEvent(event) {
            console.log("zone:handleEvent", event);
            var sourceType = event.getSourceTypeName();
            var codeName   = event.getCodeName();
            var target     = event.object;

            if (! (sourceType == "Dst" && codeName == "Observation")) {
                return;
            }
            if (target.monitor_id != this.monitor_id) {
                return;
            }
            var params = {
                "data_inline" : 1
            }
            await this.$zoneStore.fetchObservation(target.id, params);
        },
        initEvents() {
            this.$eventStore.addMsgHandler(this.handleEvent);
        },
        deinitEvents() {
            this.$eventStore.removeMsgHandler(this.handleEvent);
        },
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
