<template>
  <div class="mx-4" v-if="observation">
    <Suspense>
      <Kurtosis :observation="observation"></Kurtosis>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { zoneStore } from '~/stores/zone'
import { adminStore } from '~/stores/admin'
import Kurtosis from '~/components/Kurtosis.vue'

var observation1 = [
                {
                    "frequency": 410000000,
                    "power": -114.313429991983,
                    "center_freq": 410000000,
                    "max_db": -110.09382799859256,
                    "median_db": -114.2282640140776,
                    "std_dev": 2.2815811536711257,
                    "kurtosis": 0.04522960643367524,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2024-03-06 15:47:33+00:00",
                    "violation": 0,
                    "abovefloor": -14.313429991983
                },
                {
                    "frequency": 430000000,
                    "power": -95.80508669537987,
                    "center_freq": 430000000,
                    "max_db": -92.9415172510004,
                    "median_db": -95.96055509533039,
                    "std_dev": 1.7945597710090073,
                    "kurtosis": 1.009498712307747,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2024-03-06 15:47:34+00:00",
                    "violation": 1,
                    "abovefloor": 4.19491330462013
                },
                {
                    "frequency": 450000000,
                    "power": -115.00946578075843,
                    "center_freq": 450000000,
                    "max_db": -112.78878863070194,
                    "median_db": -114.23210687795766,
                    "std_dev": 1.8523525307267168,
                    "kurtosis": 1.709069868950302,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2024-03-06 15:47:35+00:00",
                    "violation": 0,
                    "abovefloor": -15.009465780758433
                },
                {
                    "frequency": 470000000,
                    "power": -94.9672001320142,
                    "center_freq": 470000000,
                    "max_db": -89.98066084807509,
                    "median_db": -95.67389552505514,
                    "std_dev": 2.006884542418375,
                    "kurtosis": 1.0415337339909199,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2024-03-06 15:47:32+00:00",
                    "violation": 1,
                    "abovefloor": 5.032799867985801
                },
                {
                    "frequency": 490000000,
                    "power": -115.80833669470587,
                    "center_freq": 490000000,
                    "max_db": -113.48397996949949,
                    "median_db": -115.4440592143104,
                    "std_dev": 1.6189253380805713,
                    "kurtosis": 1.1458946881242744,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2024-03-06 15:47:32+00:00",
                    "violation": 0,
                    "abovefloor": -15.808336694705872
                },
                {
                    "frequency": 510000000,
                    "power": -114.50489096867963,
                    "center_freq": 510000000,
                    "max_db": -112.14525758498479,
                    "median_db": -114.11456320037443,
                    "std_dev": 1.5046000980819305,
                    "kurtosis": 0.6438563603648579,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2024-03-06 15:47:35+00:00",
                    "violation": 0,
                    "abovefloor": -14.504890968679632
                },
                {
                    "frequency": 530000000,
                    "power": -51.13741170042361,
                    "center_freq": 530000000,
                    "max_db": -38.44410722812843,
                    "median_db": -52.73576735827996,
                    "std_dev": 0.009089071316059455,
                    "kurtosis": 1.0007096780880882,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:55:40.168100+00:00",
                    "violation": 1,
                    "abovefloor": 48.86258829957639
                },
                {
                    "frequency": 550000000,
                    "power": -50.82815954377758,
                    "center_freq": 550000000,
                    "max_db": -38.325540472372516,
                    "median_db": -52.41725441276884,
                    "std_dev": 0.009417585123507571,
                    "kurtosis": 0.9995502072150251,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:55:50.015923+00:00",
                    "violation": 1,
                    "abovefloor": 49.17184045622242
                },
                {
                    "frequency": 570000000,
                    "power": -51.36484815858473,
                    "center_freq": 570000000,
                    "max_db": -38.70023587594147,
                    "median_db": -52.959145250422644,
                    "std_dev": 0.008853670853930936,
                    "kurtosis": 1.000279873099006,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:56:00.014711+00:00",
                    "violation": 1,
                    "abovefloor": 48.63515184141527
                },
                {
                    "frequency": 590000000,
                    "power": -52.25352858462352,
                    "center_freq": 590000000,
                    "max_db": -40.13374886989675,
                    "median_db": -53.84613801478791,
                    "std_dev": 0.007992446797802867,
                    "kurtosis": 1.0001633646554275,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:56:10.015712+00:00",
                    "violation": 1,
                    "abovefloor": 47.74647141537648
                },
                {
                    "frequency": 610000000,
                    "power": -52.39439020814557,
                    "center_freq": 610000000,
                    "max_db": -40.37548654824731,
                    "median_db": -53.9644476848831,
                    "std_dev": 0.00786472967480174,
                    "kurtosis": 1.0005494372338857,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:56:20.010852+00:00",
                    "violation": 1,
                    "abovefloor": 47.60560979185443
                },
                {
                    "frequency": 630000000,
                    "power": -51.66934173793614,
                    "center_freq": 630000000,
                    "max_db": -39.27598374234899,
                    "median_db": -53.28193678445993,
                    "std_dev": 0.008551419085042858,
                    "kurtosis": 1.0012307028215557,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:56:30.016642+00:00",
                    "violation": 1,
                    "abovefloor": 48.33065826206386
                },
                {
                    "frequency": 650000000,
                    "power": -51.50219939658171,
                    "center_freq": 650000000,
                    "max_db": -39.03454899436009,
                    "median_db": -53.09636794284348,
                    "std_dev": 0.008715016601001203,
                    "kurtosis": 1.000165105964282,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:56:40.167863+00:00",
                    "violation": 1,
                    "abovefloor": 48.49780060341829
                },
                {
                    "frequency": 670000000,
                    "power": -51.80335588653854,
                    "center_freq": 670000000,
                    "max_db": -39.72410300377049,
                    "median_db": -53.384548369057924,
                    "std_dev": 0.008419131824171849,
                    "kurtosis": 1.0005409881016567,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:56:50.015995+00:00",
                    "violation": 1,
                    "abovefloor": 48.19664411346146
                },
                {
                    "frequency": 690000000,
                    "power": -52.46833005289095,
                    "center_freq": 690000000,
                    "max_db": -40.38251904412691,
                    "median_db": -54.07286751824165,
                    "std_dev": 0.007797663485638703,
                    "kurtosis": 1.0002951344616309,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:57:00.016497+00:00",
                    "violation": 1,
                    "abovefloor": 47.53166994710905
                },
                {
                    "frequency": 710000000,
                    "power": -52.58788612300884,
                    "center_freq": 710000000,
                    "max_db": -40.35498818766965,
                    "median_db": -54.18877224889539,
                    "std_dev": 0.007691220464836827,
                    "kurtosis": 0.9999792547845239,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:53:50.015513+00:00",
                    "violation": 1,
                    "abovefloor": 47.41211387699116
                },
                {
                    "frequency": 730000000,
                    "power": -51.947638811968204,
                    "center_freq": 730000000,
                    "max_db": -39.23985185164333,
                    "median_db": -53.5495846937099,
                    "std_dev": 0.008277168439478554,
                    "kurtosis": 0.9998737364190907,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:54:00.015584+00:00",
                    "violation": 1,
                    "abovefloor": 48.052361188031796
                },
                {
                    "frequency": 750000000,
                    "power": -51.700404727556716,
                    "center_freq": 750000000,
                    "max_db": -39.45463433207533,
                    "median_db": -53.29960901563656,
                    "std_dev": 0.008521121939294912,
                    "kurtosis": 1.0015461954768123,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:54:10.015667+00:00",
                    "violation": 1,
                    "abovefloor": 48.299595272443284
                },
                {
                    "frequency": 770000000,
                    "power": -52.23752373006541,
                    "center_freq": 770000000,
                    "max_db": -39.49021362521683,
                    "median_db": -53.84613801478791,
                    "std_dev": 0.008021023525436455,
                    "kurtosis": 1.0093447115474152,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:54:20.172099+00:00",
                    "violation": 1,
                    "abovefloor": 47.76247626993459
                },
                {
                    "frequency": 790000000,
                    "power": -53.06675098022303,
                    "center_freq": 790000000,
                    "max_db": -40.32481406548583,
                    "median_db": -54.632407659118314,
                    "std_dev": 0.007280417301596281,
                    "kurtosis": 1.0016403913143033,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2023-12-03 23:54:30.014963+00:00",
                    "violation": 1,
                    "abovefloor": 46.93324901977697
                }
];
var observation2 = [
                {
                    "frequency": 410000000,
                    "power": -114.313429991983,
                    "center_freq": 410000000,
                    "max_db": -110.09382799859256,
                    "median_db": -114.2282640140776,
                    "std_dev": 2.2815811536711257,
                    "kurtosis": 0.04522960643367524,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2024-03-06 15:47:33+00:00",
                    "violation": 0,
                    "abovefloor": -14.313429991983
                },
                {
                    "frequency": 430000000,
                    "power": -95.80508669537987,
                    "center_freq": 430000000,
                    "max_db": -92.9415172510004,
                    "median_db": -95.96055509533039,
                    "std_dev": 1.7945597710090073,
                    "kurtosis": 1.009498712307747,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2024-03-06 15:47:34+00:00",
                    "violation": 1,
                    "abovefloor": 4.19491330462013
                },
                {
                    "frequency": 450000000,
                    "power": -115.00946578075843,
                    "center_freq": 450000000,
                    "max_db": -112.78878863070194,
                    "median_db": -114.23210687795766,
                    "std_dev": 1.8523525307267168,
                    "kurtosis": 1.709069868950302,
                    "bandwidth": 20000000,
                    "gain": 35,
                    "length": 1,
                    "interval": 10,
                    "created_at": "2024-03-06 15:47:35+00:00",
                    "violation": 0,
                    "abovefloor": -15.009465780758433
                },
];

export default defineComponent({
    data() {
        return {
            observation: null,
            next: 1,
        }
    },
    async mounted() {
        console.log("kurtosis:mounted");
        var me = this;

        setTimeout(function() {
            console.log("timer", this);
            me.Update();
        }, 300);

        if (1) {
        if (1) {
	    setInterval(function() {
                //console.log("timer", this);
                me.Update();
            }, 2000);
        }
        else {
            setTimeout(function() {
                //console.log("timer", this);
                me.Update();
            }, 1000);
            setTimeout(function() {
                //console.log("timer", this);
                me.Update();
            }, 2000);
            setTimeout(function() {
                //console.log("timer", this);
                me.Update();
            }, 3000);
            setTimeout(function() {
                //console.log("timer", this);
                me.Update();
            }, 4000);
        }
        }
    },
    computed: {
    },
    methods: {
        Update() {
            var next;
            if (this.next == 1) {
                next = observation1;
                this.next = 2;
            }
            else {
                next = observation2
                this.next = 1;
            }
            var tmp = [];
            for (var i = 0; i < next.length; i++) {
                tmp.push(Object.assign({}, next[i]));
            }
            this.observation = tmp;
        },
    },
    watch: {
    },
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>


