<template>
  <RAObservationEdit
    :item="raobservation"
    :create="true"
    @created="(params) => handleCreated(params)"
  ></RAObservationEdit>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import RAObservationEdit from '~/components/RAObservationEdit.vue'
import moment from 'moment'  
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'

export default defineComponent({
    components: {
        RAObservationEdit: defineAsyncComponent(() => import("@/components/RAObservationEdit.vue")),
    },
    data() {
        return {
            raobservation: {
                transactionId: null,
                dpaId: 'ddda9e28-18e0-4ab7-9270-4f477045f32d',
                dpaName: 'HCRO',
                locLat: 40.8177705617736,
                locLong: -121.470133407672,
                locRadius: 1.0,
                locElevation: 100.0,
                locComment: 'Washington, DC',
                coordType: 'azel',
                numberEvents: 32,
                eventId: 1,
                eventStatus: 'actual',
                dateTimeStart: moment().format("YYYY-MM-DDTHH:mm:ss"),
                dateTimeStop: moment().add(1, 'hour').format("YYYY-MM-DDTHH:mm:ss"),
                freqStart: 3600000000,
                freqStop: 3610000000,
                regionSize: 1.5,
                regionX: 180,
                regionY: 45,
                obsType: 'pulsar',
                corrInt: 1.0,
                acquisition: 2.0,
                sourceId: '451295302514690304',
                eventComment: 'Sample observation in the Milky Way',
                grantId: null
            }
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
    },
    methods: {
        handleCreated(params) {
            console.log("raobservation.create:handleCreated", params);
            navigateTo("/raobservations/" + params.item.TransactionId);
        }
    }
});
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>