<template>
  <div v-if="grantAlarm">
    <Suspense>
      <GrantAlarm
        :item="grantAlarm"
        :editable="false"
        @refresh="() => refresh()"
      ></GrantAlarm>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import GrantAlarm from '~/components/GrantAlarm.vue'

export default defineComponent({
    components: {
        GrantAlarm: defineAsyncComponent(() => import("@/components/GrantAlarm.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("grantAlarm:index:mounted");
        await this.$zoneStore.fetchGrantAlarm(this.$route.params.id);
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            grantAlarm: (state) => state.grantAlarm,
        }),
    },
    methods: {
        refresh() {
            this.$zoneStore.fetchGrantAlarm(this.$route.params.id);
        },
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
