<template>
  <v-form
    v-if="item"
    v-model="isFormValid"
  >
    <v-card>
      <v-card-title>
        <span v-if="create">New Antenna</span>
        <span v-else>Edit Antenna <i>{{ item.name }}</i> ({{item.id}})</span>
      </v-card-title>
      <v-card-text
          style="font-size: 0.85rem"
          class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row v-if="create">
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.element_id"
                :items="allElements"
                item-title="name"
                item-value="id"
                label="Element"
                variant="outlined"
                density="compact"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.name"
                  label="Name"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.nonzerolen, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.description"
                  clearable
                  label="Description"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.type"
                  label="Type"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.nonzerolen, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.vendor"
                  label="Vendor"
                  variant="outlined"
                  density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.model"
                  label="Model"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.url"
                  clearable
                  label="URL"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model.number="item.gain"
                  label="Gain"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.positiveInteger]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model.number="item.beam_width"
                  label="Beam Width"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.positiveNumber]"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <div v-if="create">
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Create
            <Confirm activator="parent"
                     message="Are you sure you want to create this antenna?"
                     @confirmed="submit">
            </Confirm>
            
          </v-btn>
        </div>
        <div v-else>
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Save
            <Confirm activator="parent"
                     message="Are you sure you want to save these changes?"
                     @confirmed="save">
            </Confirm>
          </v-btn>
          <v-btn
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Delete
            <Confirm activator="parent"
                     message="Are you sure you want to delete this antenna?"
                     @confirmed="remove">
            </Confirm>
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
  <ErrorDialog
    :model-value="errorIsActive"
    :error="error"
    @close="errorIsActive = false; this.error = null"
    @reload="errorIsActive = false; this.error = null"
    @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
</template>

<script>
  import { mapState } from 'pinia'
  import { clientStore } from '~/stores/client'
  import { formRules } from '~/lib/formrules'
  import Confirm from '~/components/Confirm.vue'
  import ErrorDialog from '~/components/ErrorDialog.vue'
  import moment from 'moment'  

export default defineComponent({
    name: 'AntennaEdit',
    components: {
        Confirm: () => import("@/components/Confirm")
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    data() {
        return {
            isFormValid: false,
            disabled: false,
            rules: formRules(),
            errorIsActive: false,
            error: null,
            unsaved: false,
            starts_at_readable:  (this.item.starts_at != null ?
                                  moment(this.item.starts_at).format("L") : ""),
            expires_at_readable: (this.item.expires_at != null ?
                                  moment(this.item.expires_at).format("L") : ""),
        }
    },
    emits: ['modified', 'created'],
    async mounted() {
        console.log("AntennaEdit:mounted")
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        allElements() {
            if (this.is_admin)
                return this.$adminStore.all_elements.elements
            else
                return this.$userStore.elements
        },
    },
    methods: {
        async save() {
            console.log("AntennaEdit:Save")
            this.disabled = true
            let data = await this.$antennasEndpoint
                .update(this.item.id, this.item)
                .then((data) => {
                    this.notifyModified(data)
                })
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            this.disabled = false
        },
        async remove() {
            console.log("AntennaEdit:Delete")
            this.disabled = true
            await this.$antennasEndpoint
                .delete(this.item.id, this.item).catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                })
            this.disabled = false
            navigateTo('/')
        },
        async submit() {
            this.disabled = true
            let data = await this.$antennasEndpoint
                .create(this.item)
                .then((data) => {
                    this.notifyCreated(data)
                })
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            this.disabled = false
        },
        notifyModified(x) {
            console.log("AntennaEdit:notifyModified", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('modified', event)
        },
        notifyCreated(x) {
            console.log("AntennaEdit:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        }
    },
    watch: {
        item: {
            deep: true,
            handler(val) {
                this.unsaved = true;
            }
        }
    },
});
</script>
