<template>
  <v-card v-if="item">
    <v-card-title>
      Antenna <i>{{ item.name }}</i> ({{item.id}})
      <span v-if="editable">
        <v-tooltip>
          <template v-slot:activator="{ on, props }">
            (<NuxtLink
               color="gray"
               :to="`/antennas/${item.id}/edit`"
               nuxt
               v-bind="props"
             >
              <v-icon>mdi-text-box-edit-outline</v-icon>
            </NuxtLink>)
          </template>
          <span>Edit Antenna</span>
        </v-tooltip>
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>
              Element
            </td>
            <td>
              <NuxtLink
                v-if="item.element_id"
                :to="`/elements/${item.element_id}`"
              >
                {{ getElementNameById(item.element_id) }}
              </NuxtLink>
              ({{ item.element_id }})
            </td>
          </tr>
          <tr>
            <td>
              Description
            </td>
            <td>
              {{ item.description }}
            </td>
          </tr>
          <tr>
            <td>
              Type
            </td>
            <td>
              {{ item.type }}
            </td>
          </tr>
          <tr>
            <td>
              Vendor
            </td>
            <td>
              {{ item.vendor }}
            </td>
          </tr>
          <tr>
            <td>
              Model
            </td>
            <td>
              {{ item.model }}
            </td>
          </tr>

          <tr>
            <td>
              URL
            </td>
            <td>
              {{ item.url }}
            </td>
          </tr>
          <tr>
            <td>
              Gain
            </td>
            <td>
              {{ item.gain }}
            </td>
          </tr>
          <tr>
            <td>
              Beam Width
            </td>
            <td>
              {{ item.beam_width }}
            </td>
          </tr>
          <tr>
            <td>
              Gain Profile
            </td>
            <td>
              {{ item.gain_profile_data }}
            </td>
          </tr>
          <tr>
            <td>
              Gain Profile URL
            </td>
            <td>
              {{ item.gain_profile_url }}
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <span v-if="item.created_at">
                <span>
                  {{ $moment.utc(item.created_at).fromNow() }}
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ item.created_at }}</span>
                  </v-tooltip>
                </span>
              </span>
              <span v-if="!item.created_at">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <span v-if="item.updated_at">
                <span>
                  {{ $moment.utc(item.updated_at).fromNow() }}
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ item.updated_at }}</span>
                  </v-tooltip>
                </span>
              </span>
              <span v-if="!item.updated_at">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <span v-if="item.deleted_at">
                <span>
                  {{ $moment.utc(item.deleted_at).fromNow() }}
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ item.updated_at }}</span>
                  </v-tooltip>
                </span>
              </span>
              <span v-if="!item.deleted_at">&mdash;</span>
            </td>
          </tr>
        </tbody>
      </v-table>
      &nbsp;
      <v-container v-if="elaborate && item.ports">
        <v-row
          v-for="port in item.ports"
          :key="port.id"
        >
          <v-col>
            <RadioPort :item="port"></RadioPort>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'Antenna',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("Antenna:mounted")
    },
    computed: {
    },
    methods: {
    },
    watch: {
    }
});
</script>
