<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Claims
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="claim"
            clearable
            density="compact"
            variant="outlined"
            hint="Search claim name, description"
            placeholder="Name, description"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="ext"
            clearable
            density="compact"
            variant="outlined"
            hint="Search external grant type, name, endpoint"
            placeholder="Ext Type, Name"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="ext_grant"
            clearable
            density="compact"
            variant="outlined"
            hint="Search external grant id"
            placeholder="Ext grant id"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="approved.value"
            :indeterminate="approved.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, approved)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Approved
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="verified.value"
            :indeterminate="verified.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, verified)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Verified
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="current.value"
            :indeterminate="current.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, current)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Current
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="denied.value"
            :indeterminate="denied.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, denied)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Denied
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="revoked.value"
            :indeterminate="revoked.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, revoked)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Revoked
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
        </v-col>
        <!--
        <v-col cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/claims/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Create Claim</span>
          </v-tooltip>
        </v-col>
        -->
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
        >
          <template v-slot:item.id="{ item }">
            <v-tooltip location="bottom">
              <template v-slot:activator>
                <a
                  v-if="item.id"
                  color="gray"
                  :href="`/claims/${item.id}`"
                  nuxt target="_blank" rel="noopener"
                >
                  <v-icon>mdi-clock-outline</v-icon>
                </a>
                {{ item.name }}
              </template>
              <span>View User</span>
            </v-tooltip>
          </template>
          <template v-slot:item.element_id="{ item }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.spectrum_id="{ item }">
            {{ getSpectrumNameById(item.spectrum_id) }}
          </template>
          <template v-slot:item.constraints="{ item }">
            <v-chip
              v-if="item.constraints !== undefined && item.constraints !== null && item.constraints.length"
              v-for="constraint in item.constraints"
              size="small"
            >
              {{ constraint.constraint.min_freq/1e6 + "-" + constraint.constraint.max_freq/1e6 }}
            </v-chip>
            <v-chip
              v-if="item.constraints !== undefined && item.constraints !== null && item.constraints.length"
              v-for="constraint in item.constraints"
              size="small"
            >
              {{ constraint.constraint.max_eirp + "dBm" }}
            </v-chip>
            <v-chip
              v-if="item.constraints !== undefined && item.constraints.length"
              v-for="constraint in item.constraints"
              size="small"
            >
              {{ constraint.constraint.exclusive ? "exclusive" : "" }}
            </v-chip>
          </template>
          <template v-slot:item.radio_ports="{ item }">
            <span
              v-if="item.radio_ports !== undefined"
            >
              {{ item.radio_ports.length }}
            </span>
          </template>
          <template v-slot:item.approved_at="{ item }">
            {{ item.approved_at ? $moment.utc(item.approved_at).fromNow() : '' }}
          </template>
          <template v-slot:item.verified_at="{ item }">
            {{ item.verified_at ? $moment.utc(item.verified_at).fromNow() : '' }}
          </template>
          <template v-slot:item.starts_at="{ item }">
            {{ item.starts_at ? $moment.utc(item.starts_at).fromNow() : '' }}
          </template>
          <template v-slot:item.expires_at="{ item }">
            {{ item.expires_at ? $moment.utc(item.expires_at).fromNow() : '' }}
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.denied_at="{ item }">
            {{ item.denied_at ? $moment.utc(item.denied_at).fromNow() : '' }}
          </template>
          <template v-slot:item.revoked_at="{ item }">
            {{ item.revoked_at ? $moment.utc(item.revoked_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    name: 'ClaimList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        itemsPerPage: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
            claim: '',
            ext: '',
            ext_grant: '',
            approved: {
                value: true,
                indeterminate: true
            },
            verified: {
                value: true,
                indeterminate: true
            },
            current: {
                value: true,
                indeterminate: true
            },
            denied: {
                value: true,
                indeterminate: true
            },
            revoked: {
                value: true,
                indeterminate: true
            },
            deleted: false,
            headers: [
                { title: 'Claim', key: 'id', align: 'start', sortable: true },
                { title: 'Element', key: 'element_id', sortable: true },
                { title: 'Ext Type', key: 'ext_type', sortable: true },
                { title: 'Ext Name', key: 'ext_type', sortable: true },
                { title: 'Ext Grant Id', key: 'ext_grant_id', sortable: true },
                { title: 'Description', key: 'description' },
                { title: 'Starts', key: 'starts_at', sortable: true },
                { title: 'Expires', key: 'expires_at', sortable: true },
                { title: 'Spectrum', key: 'spectrum_id', sortable: true },
                { title: 'Constraints', key: 'constraints' },
                { title: 'Radio Ports', key: 'radio_ports' },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
                { title: 'Approved', key: 'approved_at', sortable: true },
                { title: 'Verified', key: 'verified_at', sortable: true },
                { title: 'Denied', key: 'denied_at', sortable: true },
                { title: 'Revoked', key: 'revoked_at', sortable: true },
                { title: 'Deleted', key: 'deleted_at', sortable: true }
            ],
            options: {
                itemsPerPage: this.itemsPerPage,
                page: this.page,
                sortBy: [{
                    key: 'updated_at',
                    order: 'asc'
                }]
            }
        }
    },
    async mounted() {
    },
    computed: {
    },
    methods: {
        getElementNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getElementNameById(id)
            else
                return this.$userStore.getElementNameById(id)
        },
        getSpectrumNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getSpectrumNameById(id)
            else
                return id
        },
        notifyRefresh() {
            console.log("sort", this.options.sortBy)
            let event = {
                page: this.options.page,
                itemsPerPage: this.options.itemsPerPage,
            }
            if (this.grant) event['grant'] = this.grant
            if (this.ext) event['ext'] = this.ext
            if (this.ext_grant) event['ext_grant'] = this.ext_grant
            if (!this.approved.indeterminate) {
                event['approved'] = this.approved.value
            }
            if (!this.verified.indeterminate) {
                event['verified'] = this.verified.value
            }
            if (!this.denied.indeterminate) {
                event['denied'] = this.denied.value
            }
            if (!this.revoked.indeterminate) {
                event['revoked'] = this.revoked.value
            }
            event['deleted'] = this.deleted
            if (!this.current.indeterminate) {
                event['current'] = this.current.value
            }
            if (this.options.sortBy[0] !== undefined
                && this.options.sortBy[0].key) {
                event['sort'] = this.options.sortBy[0].key
                if (this.options.sortBy[0].order === 'asc')
                    event['sort_asc'] = true
            }
            this.$emit('needsUpdate', event)
        },
        indetCheckboxClick(evt, model) {
            if (evt.ctrlKey) {
                if (!model.indeterminate) {
                    model.indeterminate = true
                    this.notifyRefresh()
                }
                evt.preventDefault()
                evt.stopPropagation()
            }
            else {
                model.indeterminate = false
            }
        }
    },
    watch: {
        options: {
            handler() {
                console.log("options changed")
                this.notifyRefresh()
            },
            deep: true
        }
    }
});
</script>
