<template>
  <v-dialog v-model="dialog" persistent width="600">
    <v-card>
      <v-card-text v-show="!!message" class="pa-4">{{ message }}</v-card-text>
      <v-card-actions class="pt-0">
        <v-spacer></v-spacer>
        <v-btn color="primary" text
               @click="confirm()">Confirm
        </v-btn>
        <v-btn color="grey" text
               @click="cancel()">Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default defineComponent({
    name: "Confirm",
    props: {
        message: {
            type: String,
            required: true,
        },
    },
    mounted() {
      console.log("Confirm:mounted")
    },
    data() {
        return {
            dialog: false,
        }
    },
    methods: {
        confirm() {
            console.log("Confirm:confirm");
            this.dialog = false;
            this.$emit('confirmed', {});
        },
        cancel() {
            console.log("Confirm:cancel");
            this.dialog = false;
        },
    },
});
</script>
