<template>
  <v-card v-if="item">
    <v-card-title>
      Element <i>{{ item.name }}</i> ({{item.id}})
      <span v-if="editable">
        (<NuxtLink
           color="gray"
           :to="`/elements/${item.id}/edit`"
           >
          <v-icon>mdi-text-box-edit-outline</v-icon>
          <v-tooltip
            activator="parent"
            location="end"
            >Edit Element</v-tooltip>                    
        </NuxtLink>)
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>Description
            </td>
            <td>
              <span v-if="item.description != ''">{{ item.description }}</span>
              <span v-if="item.description == ''">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>URL
            </td>
            <td>
              <span v-if="item.html_url != ''">{{ item.html_url }}</span>
              <span v-if="item.html_url == ''">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Public
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.is_public"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Enabled
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.enabled"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <span v-if="item.created_at">
                <span>
                  {{ $moment.utc(item.created_at).fromNow() }}
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ item.created_at }}</span>
                  </v-tooltip>
                </span>
                <span v-if="item.creator_user_id">
                  (<NuxtLink
                     color="gray"
                     :to="`/users/${item.creator_user_id}`"
                     >
                    <v-icon>mdi-account</v-icon>
                    <v-tooltip
                      activator="parent"
                      location="end"
                      >
                      <span>View Creator</span>
                    </v-tooltip>
                  </NuxtLink>)
                </span>
              </span>
              <span v-if="!item.created_at">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <span v-if="item.updated_at">
                <span>
                  {{ $moment.utc(item.updated_at).fromNow() }}
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ item.updated_at }}</span>
                  </v-tooltip>
                </span>
              </span>
              <span v-if="!item.updated_at">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <span v-if="item.deleted_at">
                <span>
                  {{ $moment.utc(item.deleted_at).fromNow() }}
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ item.updated_at }}</span>
                  </v-tooltip>
                </span>
              </span>
              <span v-if="!item.deleted_at">&mdash;</span>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'Element',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("Element:mounted")
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            console.log("needsUpdate")
            let event = {
                id: this.item.id,
            }
            this.$emit('needsUpdate', event)
        }
    },
    watch: {
    }
});
</script>
