<template>
  <v-card>
    <v-card-title
      v-if="title"
    >
      Email Address
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table
        style="border: thin solid lightgray"
        density="compact"
      >
        <tbody>
          <tr>
            <td>
              Address
            </td>
            <td>
              {{ item.email_address }}
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'EmailAddress',
    props: {
        item: {
            type: Object,
            required: true
        },
        title: {
            type: Boolean,
            required: false,
            default: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
        }
    },
    async mounted() {
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            console.log("needsUpdate")
            let event = {
                id: this.item.id,
            }
            this.$emit('needsUpdate', event)
        }
    },
    watch: {
    }
});
</script>
