<template>
  <v-dialog
    :model-value="modelValue"
    width="1024"
    contained
    scrollable
    close-on-back
    @update:modelValue="$emit('update:modelValue', $event)"
  >
    <Error
      :error="error"
      :modal="true"
      @close="$emit('close', $event)"
      @reload="$emit('reload', $event)"
      @back="$emit('back', $event)"
    ></Error>
  </v-dialog>
</template>

<script setup>
import Error from '~/components/Error.vue'
</script>


<script>
export default defineComponent({
    name: 'ErrorDialog',
    props: {
        modelValue: {
            type: Boolean,
            default: false
        },
        error: {
            type: Object,
            default: null
        }
    },
    async mounted() {
        console.log("ErrorDialog:mounted:", this.error)
    },
})
</script>
