<template>
  <v-card v-if="error">
    <v-card-title>
      {{ errorTitle }}
    </v-card-title>
    <v-card-text>
      <div v-if="errorMessage">
        <h4>Message:</h4>
        &nbsp;&nbsp;<span>{{ errorMessage }}</span>
      </div>
      <div v-if="errorDetails">
        <h4>Details:</h4>
        <pre>{{ errorDetails }}</pre>
      </div>
    </v-card-text>

    <v-card-actions>
      <v-btn
        v-if="modal"
        class="px-3 bg-success"
        @click="$emit('close', $event)"
      >
        Close
      </v-btn>
      <v-btn
        v-if="!modal"
        class="px-3 bg-info"
        @click="$emit('back', $event); $router.back()"
      >
        Back
      </v-btn>
      <v-btn
        class="px-3 bg-warning"
        @click="$emit('reload', $event); clearErrorAndRedirect()"
      >
        Reload Application
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default defineComponent({
    name: 'Error',
    props: {
        error: {
            type: Object,
            default: null
        },
        modal: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        errorTitle() {
            if (!this.error)
                return "Error: Internal Error"
            
            var title = "Error: "
            if (this.error.statusMessage)
                title += this.error.statusMessage
            if (this.error.statusCode)
                title += " (" + this.error.statusCode + ")"
            
            return title
        },
        errorMessage() {
            if (!this.error)
                return
            if (typeof this.error === 'string')
                return this.error
            else if (this.error.statusMessage)
                return this.error.statusMessage
            else if (this.error.message) {
                return this.error.message
            }
        },
        errorDetails() {
            if (!this.error || typeof this.error === 'string' || !this.error.data)
                return
            if (typeof this.error.data === 'object')
                return JSON.stringify(this.error.data, null, 2)
            else
                return this.error.data
        }
    },
    methods: {
        clearErrorAndRedirect() {
            clearError({ redirect: '/' })
        }
    },
    async mounted() {
        console.log("Error:mounted:")
        console.log(this.error)
        let app = useNuxtApp()
        if (this.error.statusCode === 401) {
            if (this.$userStore.token) {
                console.log("session expired; redirecting")
            }
            else {
                console.log("unauthorized; redirecting")
            }
            await app.$userStore.$reset()
            await app.$adminStore.$reset()
            try {
                // NB: We cannot have a redirect here back to the same page that
                // faulted; that will double-fault on 401 .
                // https://next-auth.js.org/getting-started/client#signout
                await useNuxtApp().$auth.logout({ redirect: false, callbackUrl: "/" })
                //useNuxtApp().$auth.loginWith(useNuxtApp().$auth.$storage.getUniversal('strategy'))
            }
            catch (e) {
                console.log("error:$auth.logout error", e)
            }
            clearError({ redirect: '/' })
        }
    },
})
</script>
