<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Events
      </v-card-title>
      <v-spacer/>
      <v-container class="pt-0 pb-0">
        <v-row justify="end" dense>
          <v-col cols="10">
            <v-expansion-panels>
              <v-expansion-panel
                title="Subscription Details"
                elevation="1"
              >
                <v-expansion-panel-text
                  style="font-size: 0.85rem"
                >
                  <v-container class="pa-0 ma-0">
                    <v-row dense>
                      <v-col cols="3" class="pt-2">
                        auto-connect
                      </v-col>
                      <v-col cols="2" class="ma-0 pa-0">
                        <v-switch
                          v-model="connection.auto"
                          class="ma-0 pa-0"
                          style="height: 14px"
                          density="compact"
                          color="primary"
                          hide-details
                        ></v-switch>
                      </v-col>
                    </v-row>
                    <v-row dense>
                      <v-col cols="3" class="pt-2">
                        auto-reconnect
                      </v-col>
                      <v-col cols="2" class="ma-0 pa-0">
                        <v-switch
                          v-model="connection.reconnect"
                          class="ma-0 pa-0"
                          style="height: 14px"
                          density="compact"
                          color="primary"
                          hide-details
                        ></v-switch>
                      </v-col>
                    </v-row>
                    <v-row dense>
                      <v-col cols="3" class="pt-2">
                        alerts
                      </v-col>
                      <v-col cols="auto" class="ma-0 pa-0">
                        <v-select
                          v-model="alerts.levels"
                          :items="['error', 'warning', 'success', 'info']"
                          density="compact"
                          chips
                          closable-chips
                          clearable
                          multiple
                          flat
                          hide-details
                        ></v-select>
                      </v-col>
                    </v-row>
                    <v-divider
                      class="mt-4 mb-3"
                    ></v-divider>
                    <template
                      v-for="(sub, name) in subscriptions"
                    >
                      <v-row dense>
                        <v-col cols="3" class="pt-2">
                          {{ name }}
                        </v-col>
                        <v-col cols="1" class="ma-0 pa-0">
                          <v-switch
                            v-model="subscriptionsConfig[name].enabled"
                            class="ma-0 pa-0"
                            style="height: 14px"
                            density="compact"
                            color="primary"
                            hide-details
                          ></v-switch>
                        </v-col>
                        <v-col cols="2" class="pt-2">
                          {{ `${subscriptions[name].socket.status}` }}
                        </v-col>
                        <v-col cols="6" class="">
                          <v-alert
                            class="pa-1 ma-0"
                            style="font-size: 0.9em"
                            v-if="subscriptions[name].socket.error"
                            :text="subscriptions[name].socket.error?.summary"
                            type="error"
                            density="compact"
                          >
                            <template v-slot:prepend></template>
                          </v-alert>
                        </v-col>
                      </v-row>
                    </template>
                  </v-container>
                </v-expansion-panel-text>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="1">
            <v-btn
              :icon="subscribed ? 'mdi-bell' : 'mdi-bell-off'"
              :color="subscribed ? 'green' : 'info'"
              :title="subscribed ? 'Attached' : 'Detached'"
              @click="subscribed ? unsubscribe() : subscribe()"
            />
          </v-col>
          <v-col cols="1">
            <v-btn
              icon="mdi-close"
              color="grey"
              title="Clear table"
              hint="Clear table"
              @click="$eventStore.clearEvents()"
            />
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
      <v-container class="ma-0 pa-0">
        <ClientOnly>
          <v-data-table
            v-model:items-per-page="events.itemsPerPage"
            :headers="headers"
            :items="events.events"
            :items-length="events.total"
            density="compact"
          >
            <template v-slot:item.header.time="{ item }">
              <v-tooltip v-if="item.header.time">
                <template v-slot:activator="{ on, props }">
                  <span v-bind="props">
                    {{ $moment.utc(item.header.time).fromNow() }}
                  </span>
                </template>
                <span>{{ item.header.time }}</span>
              </v-tooltip>
            </template>
            <template v-slot:item.header.code="{ item }">
              {{ item.getCodeName() }}
            </template>
            <template v-slot:item.header.type="{ item }">
              {{ item.getTypeName() }}
            </template>
            <template v-slot:item.header.element_id="{ item }">
              <span v-if="item.header.element_id && getElementNameById(item.header.element_id)">
                {{ getElementNameById(item.header.element_id) }}
                <NuxtLink
                  v-if="item.header.element_id"
                  color="gray"
                  :to="`/elements/${item.header.element_id}`"
                  nuxt
                >
                  <v-icon>mdi-account</v-icon>
                </NuxtLink>
              </span>
              <span v-else-if="item.header.element_id">
                <NuxtLink
                  v-if="item.header.element_id"
                  color="gray"
                  :to="`/elements/${item.header.element_id}`"
                  nuxt
                >
                  <v-icon>mdi-account</v-icon>
                </NuxtLink>
              </span>
            </template>
            <template v-slot:item.header.source_type="{ item }">
              {{ item.getSourceTypeName() }}
            </template>
            <template v-slot:item.header.object_id="{ item }">
              {{ item.getObjectName() }}
              <span v-if="item.getObjectLink()">
                <NuxtLink
                  color="gray"
                  :to="item.getObjectLink()"
                  nuxt
                >
                  <v-icon>{{ item.getCodeIcon() }}</v-icon>
                </NuxtLink>
              </span>
            </template>
            <template v-slot:item.header.user_id="{ item }">
              <NuxtLink
                v-if="item.header.user_id"
                color="gray"
                :to="`/users/${item.header.user_id}`"
                nuxt
              >
                <v-icon>mdi-account</v-icon>
              </NuxtLink>
            </template>
          </v-data-table>            
        </ClientOnly>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers.js'
</script>

<script>
import { mapState } from 'pinia'
import { eventStore } from '~/stores/event'

export default defineComponent({
    name: 'EventControlPanel',
    //emits: [ 'update:unread', 'update:total', 'new' ],
    props: {
    },
    data() {
        return {
            loading: false,
            headers: [
                { title: 'Time', align: 'start', sortable: true, key: 'header.time' },
                { title: 'Object', align: 'end', sortable: true, key: 'header.object_id' },
                { title: 'Code', align: 'end', sortable: true, key: 'header.code' },
                { title: 'Type', align: 'end', sortable: true, key: 'header.type' },
                { title: 'Source', align: 'end', sortable: true, key: 'header.source_type' },
                //{ title: 'Source Id', align: 'end', sortable: true, key: 'header.source_id' },
                { title: 'User', align: 'end', sortable: true, key: 'header.user_id' },
                { title: 'Element', align: 'end', sortable: true, key: 'header.element_id' },
            ],
        }
    },
    computed: {
        ...mapState(eventStore, {
            events: (state) => state.events,
            subscriptions: (state) => state.subscriptions,
            subscriptionsConfig: (state) => state.subscriptionsConfig,
            connection: (state) => state.connection,
            alerts: (state) => state.alerts,
        }),
        subscribed() {
            return this.$eventStore.isSubscribed()
        },
    },
    methods: {
        async subscribe() {
            await this.$eventStore.subscribe()
        },
        async unsubscribe() {
            await this.$eventStore.unsubscribe()
        },
    },
    async mounted() {
        // NB: handled in default layout.
        //
        //if (this.$eventStore.connection.auto)
        //    this.$eventStore.subscribe()
    },
})
</script>
