<template>
  <v-card v-if="item">
    <v-card-title>
      Grant Alarm <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/alarms/grants/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      (<span class="ml-1">
        <v-btn
          size="x-small"
          icon="mdi-refresh"
          variant="outlined"
          @click="refreshGrantAlarm()"
        ></v-btn>
      </span>)
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>
              Grant
            </td>
            <td>
              <NuxtLink
                v-if="item.grant_id"
                :to="`/grants/${item.grant_id}`"
              >
                <v-icon>mdi-clock-outline</v-icon>
                <v-tooltip
                  activator="parent"
                  location="end"
                >
                  <span>View Grant</span>
                </v-tooltip>
              </NuxtLink>
            </td>
          </tr>
          <tr>
            <td>
              Element
            </td>
            <td>
              <NuxtLink
                v-if="item.element_id"
                :to="`/elements/${item.element_id}`"
              >
                {{ getElementNameById(item.element_id) }}
              </NuxtLink>
              ({{ item.element_id }})
            </td>
          </tr>
          <tr>
            <td>
              Spectrum
            </td>
            <td>
              <NuxtLink
                v-if="item.spectrum_id"
                :to="`/spectrum/${item.spectrum_id}`"
              >
                {{ getSpectrumNameById(item.spectrum_id) }}
              </NuxtLink>
              ({{ item.element_id }})
            </td>
          </tr>
          <tr>
            <td>
              Metric
            </td>
            <td>
              {{ item.metric }}
            </td>
          </tr>
          <tr>
            <td>
              Comparator
            </td>
            <td>
              {{ item.comparator }}
            </td>
          </tr>
          <tr>
            <td>
              Threshold
            </td>
            <td>
              {{ item.threshold }}
            </td>
          </tr>
          <tr>
            <td>
              Aggregator
            </td>
            <td>
              {{ item.aggregator }}
            </td>
          </tr>
          <tr>
            <td>
              Period
            </td>
            <td>
              {{ item.period }}
            </td>
          </tr>
          <tr>
            <td>
              Value
            </td>
            <td>
              {{ item.value }}
            </td>
          </tr>
          <tr>
            <td>
              Alarming
            </td>
            <td>
              {{ item.alarming }}
            </td>
          </tr>
          <tr>
            <td>
              Current Value
            </td>
            <td>
              {{ item.current_value }}
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <span v-if="item.created_at">
                <span>
                  {{ $moment.utc(item.created_at).fromNow() }}
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ item.created_at }}</span>
                  </v-tooltip>
                </span>
                <span v-if="item.creator_id">
                  (<NuxtLink
                     color="gray"
                     :to="`/users/${item.creator_id}`"
                     >
                    <v-icon>mdi-account</v-icon>
                    <v-tooltip
                      activator="parent"
                      location="end"
                      >
                      <span>View Creator</span>
                    </v-tooltip>
                  </NuxtLink>)
                </span>
              </span>
              <span v-if="!item.created_at">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <span v-if="item.updated_at">
                <span>
                  {{ $moment.utc(item.updated_at).fromNow() }}
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ item.updated_at }}</span>
                  </v-tooltip>
                </span>
              </span>
              <span v-if="!item.updated_at">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <span v-if="item.deleted_at">
                <span>
                  {{ $moment.utc(item.deleted_at).fromNow() }}
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ item.updated_at }}</span>
                  </v-tooltip>
                </span>
              </span>
              <span v-if="!item.deleted_at">&mdash;</span>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-divider v-if="item.logs"></v-divider>
      <div
        v-if="item.logs"
        class="d-flex justify-center"
      >
        <span class="text-subtitle-1">Logs</span>
      </div>
      <v-data-table-virtual
        v-if="item.logs"
        density="compact"
        class="v-data-table-compact-harder"
        style="border: thin solid lightgray"
        :headers="logHeaders"
        :items="item.logs"
      >
        <template v-slot:item.created_at="{ item }">
          {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
        </template>
        <template v-slot:item.alarming="{ item }">
          <v-icon
            v-if="item.alarming"
            size="small"
          >mdi-check</v-icon>
        </template>
      </v-data-table-virtual>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'GrantAlarm',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            logHeaders: [
                { title: 'Created At', key: 'created_at' },
                { title: 'Alarming', key: 'alarming' },
                { title: 'Current Value', key: 'current_value' },
                { title: 'Message', key: 'message' },
            ],
        }
    },
    emits: ['refresh'],
    async mounted() {
        console.log("GrantAlarm:mounted")
    },
    methods: {
        getSpectrumNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getSpectrumNameById(id)
            else
                return id
        },
        refreshGrantAlarm() {
            console.log("refreshGrantAlarm")
            this.$emit('refresh')
        }
    },
    watch: {
    }
});
</script>
