<template>
  <v-form
    v-if="item"
    v-model="isFormValid"
  >
    <v-card>
      <v-card-title>
        <span v-if="create">New Grant</span>
        <span v-else>Edit Grant {{item.id}}</span>
      </v-card-title>
      <v-card-text
          style="font-size: 0.85rem"
          class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row v-if="create">
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.element_id"
                :items="allElements"
                item-title="name"
                item-value="id"
                label="Element"
                variant="outlined"
                density="compact"
                @update:modelValue="changeElement"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="myelementname"
                  readonly
                  label="Element"
                  variant="outlined"
                  density="compact"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.name"
                  clearable
                  label="Name"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.description"
                  clearable
                  label="Description"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols=3 class="py-0 px-0 mr-10">
              <v-text-field
                  v-model.lazy="starts_at_readable"
                  clearable
                  label="Starts"
                  variant="outlined"
                  density="compact"
                  placeholder="MM/DD/YYYY"
                  :rules="[rules.morethanspace, rules.validDate]"
              ></v-text-field>
            </v-col>
            <v-col cols=3 class="py-0 px-0">
              <v-text-field
                  v-model.lazy="expires_at_readable"
                  clearable
                  label="Expires"
                  variant="outlined"
                  density="compact"
                  placeholder="MM/DD/YYYY"
                  :rules="[rules.morethanspace, rules.validDate]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3" class="py-0 px-0">
              <v-text-field
                  v-model.number="item.priority"
                  clearable
                  type="number"
                  label="Priority"
                  variant="outlined"
                  density="compact"
                  placeholder="Leave priority set to 0 to be assigned the priority of the matching spectrum"
                  :rules="[rules.morethanspace, rules.positiveInteger]"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-container v-if="!create || item.element_id" class="pt-0">
          <div class="d-flex justify-center mb-2">
            <span class="text-subtitle-2">Radios</span>
          </div>
          <v-row v-for="p in item.radio_ports">
            <v-divider></v-divider>
            <v-col cols="4">
              <v-select
                v-model="p.radio_port_id"
                :items="all_radio_ports"
                item-title="name"
                item-value="id"
                density="compact"
                :rules="[rules.required]"
                ></v-select>
            </v-col>
            <v-col cols="8">
              <div class="d-flex justify-end">
                <v-btn
                  color="white"
                  class="px-3 bg-success"
                  background="success"
                  elevation="2"
                  icon="mdi-delete"
                  @click="removeRadio(p)"
                  />
              </div>
            </v-col>
          </v-row>
          <div class="d-flex justify-end">
            <v-btn
              color="white"
              class="px-3 bg-success"
              background="success"
              elevation="2"
              @click="addRadio()"
              >
              Add Radio
            </v-btn>
          </div>
        </v-container>
        <v-container class="pt-0">
          <div class="d-flex justify-center mb-2">
            <span class="text-subtitle-1">Constraints</span>
          </div>
          <v-row v-for="c in item.constraints">
            <v-divider></v-divider>
            <v-col class="v-col-3">
              <v-text-field
                v-model.number="c.constraint.min_freq"
                  label="Min Frequency"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.validFrequency]"
                  @change="c.constraint.min_freq = frequencyChanged(c.constraint.min_freq)"
              ></v-text-field>
              <v-text-field
                  v-model.number="c.constraint.max_freq"
                  label="Max Frequency"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.validFrequency]"
                  @change="c.constraint.max_freq = frequencyChanged(c.constraint.max_freq)"
              ></v-text-field>
            </v-col>
            <v-col class="v-col-3">
              <v-text-field
                  v-model.number="c.constraint.min_eirp"
                  label="Min eirp"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.validEIRP]"
              ></v-text-field>
              <v-text-field
                  v-model.number="c.constraint.max_eirp"
                  label="Max eirp"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.validEIRP]"
                ></v-text-field>
            </v-col>
            <v-col class="v-col-3">
              <v-text-field
                  v-model.number="c.constraint.bandwidth"
                  label="Bandwidth"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.morethanspace, rules.positiveInteger]"
                  @change="c.constraint.bandwidth = bandwidthChanged(c.constraint.bandwidth)"
              ></v-text-field>
              <v-checkbox
                  v-model="c.constraint.exclusive"
                  label="Exclusive"
                  density="compact"
              ></v-checkbox>
            </v-col>
            <v-col class="v-col-3">
              <div class="d-flex justify-end">
                <v-btn
                  color="white"
                  class="px-3 bg-success"
                  background="success"
                  elevation="2"
                  icon="mdi-delete"
                  @click="removeConstraint(c)"
                  />
              </div>
            </v-col>
          </v-row>
          <div class="d-flex justify-end">
            <v-btn
              color="white"
              class="px-3 bg-success"
              background="success"
              elevation="2"
              @click="addConstraint()"
              >
              Add Constraint
            </v-btn>
          </div>
        </v-container>
        <v-container class="pt-0">
          <div
            v-if="item.int_constraints && item.int_constraints.length > 0"
            class="d-flex justify-center mb-2">
            <span class="text-subtitle-1">Interference Constraints</span>
          </div>
          <v-row v-for="c in item.int_constraints">
            <v-divider></v-divider>
            <v-col class="v-col-3">
              <v-text-field
                  v-model="c.int_constraint.name"
                  label="Name"
                  variant="filled"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
              <v-text-field
                  v-model.number="c.int_constraint.max_power"
                  label="Max Power"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.validEIRP]"
              ></v-text-field>
            </v-col>
            <v-col class="v-col-6">
              <v-text-field
                  v-model="c.int_constraint.description"
                  label="Description"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.morethanspace]"
              ></v-text-field>
            </v-col>
            <v-col class="v-col-3">
              <div class="d-flex justify-end">
                <v-btn
                  color="white"
                  class="px-3 bg-success"
                  background="success"
                  elevation="2"
                  icon="mdi-delete"
                  @click="removeIntConstraint(c)"
                  />
              </div>
            </v-col>
          </v-row>
          <div class="d-flex justify-end">
            <v-btn
              color="white"
              class="px-3 bg-success"
              background="success"
              elevation="2"
              @click="addIntConstraint()"
            >
              Add Interference Constraint
            </v-btn>
          </div>
        </v-container>
        <v-container class="pt-0">
          <div
            v-if="item.rt_int_constraints && item.rt_int_constraints.length > 0"
            class="d-flex justify-center mb-2">
            <span class="text-subtitle-2">Runtime Constraints</span>
          </div>
          <v-row v-for="c in item.rt_int_constraints">
            <v-divider></v-divider>
            <v-col cols="10">
              <v-container class="pa-0">
                <v-row class="pa-0">
                  <v-col cols="3" class="">
                    <v-text-field
                      v-model="c.rt_int_constraint.name"
                      label="Name"
                      variant="filled"
                      density="compact"
                      :rules="[rules.required, rules.morethanspace]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" class="">
                    <v-text-field
                      v-model="c.rt_int_constraint.metric"
                      label="Metric"
                      variant="filled"
                      density="compact"
                      :rules="[rules.required, rules.morethanspace]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="auto" class="">
                    <v-combobox
                      v-model="c.rt_int_constraint.comparator"
                      label="Comp"
                      variant="filled"
                      density="compact"
                      :rules="[rules.required, rules.morethanspace]"
                      :items="comparatorItems"
                    ></v-combobox>
                  </v-col>
                  <v-col cols="3" class="">
                    <v-text-field
                      v-model.number="c.rt_int_constraint.value"
                      label="Value"
                      variant="filled"
                      density="compact"
                      :rules="[rules.required]"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row class="pa-0 mt-0">
                  <v-col cols="4">
                    <v-text-field
                      v-model="c.rt_int_constraint.aggregator"
                      label="Aggregator function (e.g. mean)"
                      variant="filled"
                      density="compact"
                      :rules="[rules.morethanspace]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model.number="c.rt_int_constraint.period"
                      label="Aggregation Period (seconds)"
                      variant="filled"
                      density="compact"
                      :rules="[rules.morethanspace]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model.number="c.rt_int_constraint.criticality"
                      label="Criticality (0-1024)"
                      variant="filled"
                      density="compact"
                      :rules="[rules.morethanspace]"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row class="pa-0 mt-0">
                  <v-col cols="12">
                    <v-text-field
                      v-model="c.rt_int_constraint.description"
                      label="Description"
                      variant="filled"
                      density="compact"
                      :rules="[rules.morethanspace]"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
            <v-col cols="auto">
              <div class="d-flex justify-end">
                <v-btn
                  color="white"
                  class="px-3 bg-success"
                  background="success"
                  elevation="2"
                  icon="mdi-delete"
                  @click="removeRtIntConstraint(c)"
                  />
              </div>
            </v-col>
          </v-row>
          <div class="d-flex justify-end">
            <v-btn
              color="white"
              class="px-3 bg-success"
              background="success"
              elevation="2"
              @click="addRtIntConstraint()"
            >
              Add Runtime Constraint
            </v-btn>
          </div>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <div v-if="create">
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Create
            <Confirm activator="parent"
                     message="Are you sure you want to create this grant?"
                     @confirmed="submit">
            </Confirm>
            
          </v-btn>
        </div>
        <div v-else>
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Save
            <Confirm activator="parent"
                     message="Are you sure you want to save these changes?"
                     @confirmed="save">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!item.deleted_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Delete
            <Confirm activator="parent"
                     message="Are you sure you want to delete this grant?"
                     @confirmed="remove">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!item.approved_at && !item.denied_at"
            color="white"
            class="px-3 bg-success ml-6"
            background="success"
            elevation="2"
            :disabled="disabled"
            >
            Approve
            <Confirm activator="parent"
                     message="Are you sure you want to approve this grant?"
                     @confirmed="action('approve')">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!item.approved_at && !item.denied_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Deny
            <Confirm activator="parent"
                     message="Are you sure you want to deny this grant?"
                     @confirmed="action('deny')">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="$clientStore.is_admin && item.status === 'paused' && !item.revoked_at && item.approved_at && !item.denied_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="success"
            elevation="2"
            :disabled="disabled"
            >
            Resume
            <Confirm activator="parent"
                     message="Are you sure you want to resume this grant?"
                     @confirmed="action('resume')">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="$clientStore.is_admin && item.status === 'active' && !item.revoked_at && item.approved_at && !item.denied_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Pause
            <Confirm activator="parent"
                     message="Are you sure you want to pause this grant?"
                     @confirmed="action('pause')">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="$clientStore.is_admin && !item.deleted_at && !item.revoked_at && item.approved_at && !item.denied_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Replace
            <Confirm activator="parent"
                     message="Are you sure you want to replace this grant?"
                     @confirmed="replace()">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!item.revoked_at && item.approved_at && !item.denied_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Revoke
            <Confirm activator="parent"
                     message="Are you sure you want to revoke this grant?"
                     @confirmed="action('revoke')">
            </Confirm>
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
  <ErrorDialog
    :model-value="errorIsActive"
    :error="error"
    @close="errorIsActive = false; this.error = null"
    @reload="errorIsActive = false; this.error = null"
    @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
</template>

<script>
  import { mapState } from 'pinia'
  import { clientStore } from '~/stores/client'
  import { adminStore } from '~/stores/admin'
  import { zoneStore } from '~/stores/zone'
  import { formRules } from '~/lib/formrules'
  import Confirm from '~/components/Confirm.vue'
  import ErrorDialog from '~/components/ErrorDialog.vue'
  import moment from 'moment'  
  import { getElementNameById } from '~/lib/helpers'

export default defineComponent({
    name: 'GrantEdit',
    components: {
        Confirm: () => import("@/components/Confirm")
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    data() {
        return {
            isFormValid: false,
            disabled: false,
            rules: formRules(),
            errorIsActive: false,
            error: null,
            unsaved: false,
            starts_at_readable:  (this.item.starts_at != null ?
                                  moment(this.item.starts_at).format("L") : ""),
            expires_at_readable: (this.item.expires_at != null ?
                                  moment(this.item.expires_at).format("L") : ""),
            all_radio_ports: [],
            comparatorItems: [ 'ne', 'eq', 'gt', 'lt', 'gte', 'lte' ],
        }
    },
    emits: ['modified', 'created'],
    async mounted() {
        console.log("GrantEdit:mounted")
        if (this.create) {
            this.addConstraint();
            this.addRadio();
        }

        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            approved: true,
            deleted: false,
        };
        if (!this.create) {
            payload["element_id"] = this.item.element_id
        }
        await this.$zoneStore.fetchRadios(payload);
        if (this.create && this.item.element_id) {
            this.changeElement(this.item.element_id);
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        allElements() {
            if (this.is_admin) {
                console.log("allElements", this.$adminStore.all_elements.elements)
                return this.$adminStore.all_elements.elements
            }
            else
                return this.$userStore.elements
        },
        ...mapState(zoneStore, {
            radios: (state) => state.radios.radios
        }),
        myelementname() {
            return getElementNameById(this.item.element_id);
        },
    },
    methods: {
        // The radio dropdowns have to match the current element's radios
        updateRadioPorts(element_id) {
            this.all_radio_ports = [];

            for (var i = 0; i < this.radios.length; i++) {
                var radio = this.radios[i];
                if (radio.element_id != element_id) {
                    continue;
                }
                for (var j = 0; j < radio.ports.length; j++) {
                    var port = radio.ports[j];

                    this.all_radio_ports.push({
                        id: port.id,
                        name: radio.name + "; "  + port.name
                    });
                }
            }
        },
        // When changing elements, need to rewrite the set of radios that
        // can be used in the radio dropdowns.
        changeElement(element_id) {
            console.log("changeElement", element_id);
            this.updateRadioPorts(element_id);
            // Zap the radios, forcing the user to start over.
            this.item.radio_ports = [];
            this.addRadio();
        },
        addConstraint() {
            this.item.constraints.push({
                constraint : {
                    min_freq:  null,
                    max_freq:  null,
                    min_eirp:  null,
                    max_eirp:  null,
                    exclusive: true,
                    bandwidth: 0,
                },
            });
        },
        removeConstraint(which) {
            if (this.item.constraints.length == 1) {
                return;
            }
            this.item.constraints = this.item.constraints.filter(function (x) {
                return x != which;
            });
        },
        addIntConstraint() {
            this.item.int_constraints.push({
                int_constraint : {
                    name: '',
                    description: null,
                    max_power: null,
                },
            });
        },
        removeIntConstraint(which) {
            this.item.int_constraints = this.item.int_constraints.filter(function (x) {
                return x != which;
            });
        },
        addRtIntConstraint() {
            this.item.rt_int_constraints.push({
                rt_int_constraint : {
                    name: '',
                    description: null,
                    metric: '',
                    comparator: '',
                    value: 0.0,
                    aggregator: null,
                    period: null,
                },
            });
        },
        removeRtIntConstraint(which) {
            this.item.rt_int_constraints = this.item.rt_int_constraints.filter(function (x) {
                return x != which;
            });
        },
        addRadio() {
            this.item.radio_ports.push({
                radio_port_id: ""
            });
        },
        removeRadio(which) {
            if (this.item.radio_ports.length == 1) {
                return;
            }
            this.item.radio_ports = this.item.radio_ports.filter(function (x) {
                return x != which;
            });
        },
        getRadioName(port) {
            console.log("getRadioName", port);
            var name  = port.radio_port.name;
            var id    = port.radio_port.radio_id;

            // This will change.
            for (var i = 0; i < this.radios.length; i++) {
                var radio = this.radios[i];
                if (radio.id == id && radio.description) {
                    name += "&mdash; " + radio.description;
                }
            }
            return name;
        },
        convertDates() {
            if (this.starts_at_readable != "") {
                    this.item.starts_at = moment(this.starts_at_readable).toISOString();
            }
            if (this.expires_at_readable != "") {
                    this.item.expires_at = moment(this.expires_at_readable).toISOString();
            }
        },
        async action(which) {
            console.log("GrantEdit:Action", which, this);
            if (which == "approve") {
                this.item.status = "approved";
            }
            else if (which == "resume") {
                this.item.status = "active";
            }
            else if (which == "pause") {
                this.item.status = "paused";
            }
            else if (which == "revoke") {
                this.item.status = "revoked";
            }
            else if (which == "deny") {
                this.item.status = "denied";
            }
            await this.save();
        },
        async save() {
            console.log("GrantEdit:Save")
            this.convertDates();
            this.disabled = true
            let data = await this.$grantsEndpoint
                .update(this.item.id, this.item)
                .then((data) => {
                    this.notifyModified(data)
                })
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            this.disabled = false
        },
        async replace(which) {
            console.log("GrantEdit:Replace", which, this);
            // Replace is a bit different; it is a POST to the current URL
            // on the backend.
            this.convertDates();
            this.disabled = true
            let data = await this.$grantsEndpoint
                .clone(this.item.id, this.item)
                .then((data) => {
                    this.notifyReplaced(data)
                })
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            this.disabled = false
        },
        async remove() {
            console.log("GrantEdit:Delete")
            this.disabled = true
            await this.$grantsEndpoint
                .delete(this.item.id).catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                }).then((resp) => {
                    this.disabled = false
                    if (this.is_admin) {
                        navigateTo('/admin/grants')
                    }
                    else {
                        navigateTo('/elements/" + this.item.element_id + "/grants')
                    }
                })
        },
        async submit() {
            this.disabled = true
            this.convertDates();
            let data = await this.$grantsEndpoint
                .create(this.item)
                .then((data) => {
                    this.notifyCreated(data)
                })
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            this.disabled = false
        },
        notifyModified(x) {
            console.log("GrantEdit:notifyModified", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('modified', event)
        },
        notifyCreated(x) {
            console.log("GrantEdit:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        },
        notifyReplaced(x) {
            console.log("GrantEdit:notifyReplaced", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('replaced', event)
        },
        // Drives me nuts to have to type so many zeros
        frequencyChanged(freq) {
            if (freq < 10000) {
                return freq * 1000000;
            }
            return freq;
        },
        bandwidthChanged(bw) {
            if (bw < 100) {
                return bw * 1000000;
            }
            return bw;
        },
    },
    watch: {
        item: {
            deep: true,
            handler(val) {
                this.unsaved = true;
            }
        },
        radios: {
            handler(val) {
                console.log("watch radios", val, this.radios);
                // In edit mode, need to set the radio dropdowns to the element.
                if (!this.create) {
                    this.updateRadioPorts(this.item.element_id);
                }
            }
        }
    },
});
</script>
