<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Locations
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="4">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="location"
            clearable
            density="compact"
            variant="outlined"
            hint="Search location name"
            placeholder="Name"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
        </v-col>
        <v-col cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/locations/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Create Location</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
          >
          <template v-slot:item.name="{ item }">
            <v-tooltip location="bottom">
              <template v-slot:activator="{ on, props }">
                <NuxtLink
                  v-if="item.id"
                  color="gray"
                  :to="`/locations/${item.id}`"
                  nuxt
                  v-bind="props"
                  >
                  <v-icon>mdi-map-marker</v-icon>
                </NuxtLink>
                {{ item.name }}
              </template>
              <span>View Location</span>
            </v-tooltip>
          </template>
          <template v-slot:item.element_id="{ item }">
            {{ getElementNameById(item.element_id) }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'
</script>

<script>
export default defineComponent({
    name: 'LocationList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        itemsPerPage: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
            location: '',
            type: '',
            deleted: false,
            headers: [
                { title: 'Name', key: 'name', align: 'start', sortable: true },
                { title: 'Element', key: 'element_id', sortable: true },
                { title: 'SRID', key: 'srid' },
                { title: 'X', key: 'x'},
                { title: 'Y', key: 'y'},
                { title: 'Z', key: 'z'},
            ],
            options: {
                itemsPerPage: this.itemsPerPage,
                page: this.page,
                sortBy: [{
                    key: 'name',
                    order: 'asc'
                }]
            }
        }
    },
    async mounted() {
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            console.log("sort", this.options.sortBy)
            let event = {
                page: this.options.page,
                itemsPerPage: this.options.itemsPerPage,
            }
            if (this.location) event['location'] = this.location
            if (this.options.sortBy[0] !== undefined
                && this.options.sortBy[0].key) {
                event['sort'] = this.options.sortBy[0].key
                if (this.options.sortBy[0].order === 'asc')
                    event['sort_asc'] = true
            }
            this.$emit('needsUpdate', event)
        }
    },
    watch: {
        options: {
            handler() {
                console.log("options changed")
                this.notifyRefresh()
            },
            deep: true
        }
    }
});
</script>
