<template>
  <v-btn
    class="ml-0 pa-0"
    size="small"
    variant="text"
    icon
    >
    <v-icon>mdi-map-marker</v-icon>
    <v-tooltip
      activator="parent"
      location="end"
      >Show Map</v-tooltip>
    <v-dialog v-model="showDialog"
              activator="parent"
              width="1024">
      <v-card>
      <v-container class="pb-1">
        <v-row justify=center>
          <v-col cols=12>
            <div style="height:600px">
              <l-map ref="map"
                     v-model:zoom="zoom"
                     :use-global-leaflet="false"
                     :center="markerCoords">
                <l-tile-layer
                  url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                  layer-type="base"
                  attribution='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                  name="OpenStreetMap"
                  ></l-tile-layer>
                <l-marker :lat-lng="markerCoords"></l-marker>
              </l-map>
            </div>
          </v-col>
        </v-row>
      </v-container>
      <v-card-actions class="pt-0 justify-center">
        <v-btn
          color="white"
          class="px-3 bg-success"
          background="success"
          size="small"
          @click="showDialog = false"
        >
          Close
        </v-btn>
      </v-card-actions>
      </v-card>
    </v-dialog></v-btn>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'

import 'leaflet/dist/leaflet.css'
import { LMap, LTileLayer, LMarker } from '@vue-leaflet/vue-leaflet'
  
export default defineComponent({
    name: 'MapModal',
    components: {
        LMap,
        LTileLayer,
        LMarker,
    },
    props: {
        location_id: {
            type: String,
            required: true
        },
    },
    data() {
        return {
            showDialog: false,
            zoom: 18,
        }
    },
    async mounted() {
        console.log("MapModal:mounted", this, this.location_id);
        await this.$zoneStore.fetchLocation(this.location_id)        
    },
    computed: {
        ...mapState(zoneStore, {
            location: (state) => state.location.location
        }),
        markerCoords() {
            return [this.location.y, this.location.x];
        },
    },
    methods: {
    },
    watch: {
    }
});
</script>
