<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Monitors
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="3">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.monitor"
            clearable
            density="compact"
            variant="outlined"
            hint="Search monitor name, description"
            placeholder="Name, description"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.types"
            clearable
            density="compact"
            variant="outlined"
            hint="Search monitor types"
            placeholder="Types"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.formats"
            clearable
            density="compact"
            variant="outlined"
            hint="Search monitor formats"
            placeholder="Formats"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.enabled.value"
            :indeterminate="filters.enabled.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.enabled)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Enabled
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.exclusive.value"
            :indeterminate="filters.exclusive.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.exclusive)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Exclusive
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-btn
            @click="resetFilters()"
            size="x-small"
            icon="mdi-eraser"
            variant="outlined"
            class="mt-1">
            <v-icon>mdi-eraser</v-icon>
            <v-tooltip
              activator="parent"
              location="bottom"
              >Reset filter parameters</v-tooltip>
          </v-btn>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/monitors/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Create Monitor</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :items-length="total"
          :items-per-page="options.itemsPerPage"
          @update:options="optionsUpdated()"
          dense
        >
          <template v-slot:item.name="{ item }">
            <NuxtLink
              color="gray"
              :to="`/monitors/${item.id}`"
              >
              <v-icon>mdi-signal</v-icon>
              <v-tooltip
                activator="parent"
                location="end"
                >
                <span>View Monitor</span>
              </v-tooltip>
            </NuxtLink>
            {{ item.name }}
          </template>
          <template v-slot:item.enabled="{ item }">
            <v-icon
              v-if="item.enabled"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.exclusive="{ item }">
            <v-icon
              v-if="item.exclusive"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.types="{ item }">
            <v-chip
              v-if="item.types !== undefined && item.types.split(',').length > 0"
              v-for="mt in item.types.split(',')"
              size="small"
            >
              {{ mt }}
            </v-chip>
          </template>
          <template v-slot:item.formats="{ item }">
            <v-chip
              v-if="item.formats !== undefined && item.formats.split(',').length > 0"
              v-for="mf in item.formats.split(',')"
              size="small"
            >
              {{ mf }}
            </v-chip>
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    name: 'MonitorList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        initialFilters: {
            type: Object,
            required: true,
        },
        initialOptions: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            filters: this.initialFilters,
            options: this.initialOptions,

            headers: [
                { title: 'Name', key: 'name', align: 'start', sortable: true },
                { title: 'Description', key: 'description' },
                { title: 'Types', key: 'types', sortable: true },
                { title: 'Formats', key: 'formats', sortable: true },
                { title: 'Enabled', key: 'enabled', sortable: true },
                { title: 'Exclusive', key: 'exclusive', sortable: true },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
                { title: 'Deleted', key: 'deleted_at', sortable: true }
            ],
        }
    },
    async mounted() {
        console.log("monitorlist:mounted", this.items);
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            let event = {
                filters: this.filters,
                options: this.options,
            }
            this.$emit('needsUpdate', event)
        },
        resetFilters() {
            this.filters.monitor = "";
            this.filters.types = "";
            this.filters.formats = "";
            this.filters.enabled.indeterminate = true;
            this.filters.enabled.value = true;
            this.filters.exclusive.indeterminate = true;
            this.filters.exclusive.value = true;
            this.filters.deleted = false;
            this.notifyRefresh();
        },
        optionsUpdated() {
            console.log("monitorlist: options changed")
            this.notifyRefresh()
        },
        indetCheckboxClick(evt, model) {
            if (evt.ctrlKey) {
                if (!model.indeterminate) {
                    model.indeterminate = true
                    this.notifyRefresh()
                }
                evt.preventDefault()
                evt.stopPropagation()
            }
            else {
                model.indeterminate = false
            }
        }
    },
    watch: {
    }
});
</script>
