<template>
  <v-card v-if="item">
    <v-card-title>
      Propsim Job Output <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/propsims/${item.propsim_id}/jobs/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      <span v-if="editable">
        <v-tooltip>
          <template v-slot:activator="{ on, props }">
            (<NuxtLink
               color="gray"
               :to="`/propsims/${item.id}/edit`"
               nuxt
               v-bind="props"
             >
              <v-icon>mdi-text-box-edit-outline</v-icon>
            </NuxtLink>)
          </template>
          <span>Edit Propsim</span>
        </v-tooltip>
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>
              Service Job Output Id
            </td>
            <td>
              {{ item.job_output_id }}
            </td>
          </tr>
          <tr>
            <td>
              Type
            </td>
            <td>
              {{ item.type }}
            </td>
          </tr>
          <tr v-if="item.desc">
            <td>
              Description
            </td>
            <td>
              {{ item.desc }}
            </td>
          </tr>
          <tr v-if="item.message">
            <td>
              Message
            </td>
            <td>
              {{ item.message }}
            </td>
          </tr>
          <tr>
            <td>
              Size
            </td>
            <td>
              {{ item.size }}
            </td>
          </tr>
          <tr v-if="item.geoserver_workspace">
            <td>
              Geoserver Workspace
            </td>
            <td>
              {{ item.geoserver_workspace }}
            </td>
          </tr>
          <tr v-if="item.geoserver_layer">
            <td>
              Geoserver Layer
            </td>
            <td>
              {{ item.geoserver_layer }}
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <v-tooltip
                v-if="item.created_at"
              >
                <template v-slot:activator="{ on, props }">
                  <span v-bind="props">{{ $moment.utc(item.created_at).fromNow() }}</span>
                </template>
                <span>{{ item.created_at }}</span>
              </v-tooltip>
              <span v-if="!item.created_at">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <v-tooltip
                v-if="item.deleted_at"
              >
                <template v-slot:activator="{ on, props }">
                  <span v-bind="props">{{ $moment.utc(item.deleted_at).fromNow() }}</span>
                </template>
                <span>{{ item.deleted_at }}</span>
              </v-tooltip>
              <span v-if="!item.deleted_at">&mdash;</span>
            </td>
          </tr>
        </tbody>
      </v-table>
      <ClientOnly>
        <v-container
          v-if="!mapError && zoneCenter && zoneBoundary && item.geoserver_layer"
          class="pl-0 pr-0 ml-0 mr-0"
        >
          <v-row justify="center">
            <v-col cols="12">
              <div style="height:850px;width:950px">
                <l-map
                  ref="map"
                  v-model:zoom="zoom"
                  :useGlobalLeaflet="false"
                  crs="EPSG3857"
                  :center="zoneCenter"
                >
                  <l-control
                    position="topleft"
                    class="pa-3"
                    style="background-color: white; display: block; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 2px solid rgba(0,0,0,0.2)"
                  >
                    <img
                      :src="geoserverLegendUrl"
                      height="650px"
                    />
                  </l-control>
                  <l-tile-layer
                    url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                    layer-type="base"
                    attribution='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    name="OpenStreetMap"
                  ></l-tile-layer>
                  <l-wms-tile-layer
                    :url="geoserverWmsUrl"
                    :layers="item.geoserver_layer"
                    format="image/png"
                    :transparent="true"
                    :tiled="true"
                    version="1.1.0"
                    layer-type="overlay"
                  ></l-wms-tile-layer>
                  <l-polygon
                    :lat-lngs="zoneBoundary"
                    color="red"
                    :fill="false"
                  />
                </l-map>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </ClientOnly>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>

import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'
import 'leaflet/dist/leaflet.css'
import { LMap, LWmsTileLayer, LTileLayer, LPolygon, LControl } from '@vue-leaflet/vue-leaflet'
//import WMSCapabilities from 'wms-capabilities'

export default defineComponent({
    name: 'PropsimJobOutput',
    components: {
        LMap,
        LWmsTileLayer,
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            zoom: 15,
            L: null,
            mapError: null,
            mapErrorText: null,
            wmsCapabilities: null,
            geoserverUrl: useNuxtApp().$config.public.geoserverUrl,
            geoserverWorkspace: useNuxtApp().$config.public.geoserverWorkspace,
            geoserverWmsUrl: useNuxtApp().$config.public.geoserverUrl + '/' + useNuxtApp().$config.public.geoserverWorkspace + '/wms',
        }
    },
    async beforeMount() {
        /*
         * If you need real Leaflet functions, this is the way to get access
         * to them.  However, I was able to not require this in the end.
         */
        //this.L = await import("leaflet/dist/leaflet-src.esm");
        //console.log("L", this.L)
    },    
    async mounted() {
        console.log("PropsimJobOutput:mounted", this)
        await this.$zoneStore.fetchZones()

        /*
         * This code does not work because geoserver does not by default
         * add CORS headers, so the fetch is blocked.
         */
        /*
        try {
            let cu = useNuxtApp().$config.public.geoserverUrl + "/" + useNuxtApp().$config.public.geoserverWorkspace + "/wms?request=GetCapabilities"
            let headers = { "Accept": "text/xml" }
            var data = null
            await this.$fetch(cu, { headers: headers, 
                                    async onResponse({ response }) {
                                        data = response.body
                                    }})
            console.log(data)
            this.wmsCapabilities = new WMSCapabilities(data).toJSON()
            console.log("wms.GetCapabilities", this.wmsCapabilities)
        } catch (e) {
            console.log("wms.GetCapabilities error:", e)
            this.mapError = e
            this.mapErrorText = "<pre>" + JSON.stringify(e) + "</pre>"
        }
        */
    },
    computed: {
        ...mapState(zoneStore, {
            zone: (state) => state.zone,
        }),
        zoneCenter() {
            let zc = this.$zoneStore.computeZoneCenter()
            console.log("computeZoneCenter:", zc)
            return zc
        },
        zoneBoundary() {
            let zb = this.$zoneStore.computeZoneBoundary()
            console.log("computeZoneBoundary:", zb)
            return zb
        },
        geoserverLegendUrl() {
            return this.geoserverWmsUrl + "?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=16&HEIGHT=10&LAYER=" + this.item.geoserver_layer
        },
    },
    methods: {
        notifyRefresh() {
            console.log("PropsimJobOutput:needsUpdate")
            let event = {
                id: this.item.id,
            }
            this.$emit('needsUpdate', event)
        }
    },
});
</script>
