<template>
  <v-form
    v-if="item"
    v-model="isFormValid"
  >
    <v-card>
      <v-card-title>
        <span v-if="create">New Propsim</span>
        <span v-else>Edit Propsim {{item.id}}</span>
      </v-card-title>
      <v-card-text
          style="font-size: 0.85rem"
          class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row v-if="create">
            <v-col
              cols="4"
              class="py-0 px-0"
            >
              <v-select
                v-model="item.element_id"
                :items="allElements"
                item-title="name"
                item-value="id"
                label="Element"
                variant="outlined"
                density="compact"
                @update:modelValue="changeElement"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
            <v-col
              cols="4"
              class="py-0 px-4"
            >
              <v-select
                v-model="item.radio_port_id"
                :items="all_radio_ports"
                item-title="name"
                item-value="id"
                label="Radio Port"
                density="compact"
                variant="outlined"
                hide-details
                :rules="[rules.required]"
              ></v-select>
            </v-col>
            <v-col
              cols="4"
              class="py-0 px-4"
            >
              <v-select
                v-model="item.service_id"
                :items="servicesPropsims"
                item-title="name"
                item-value="id"
                label="Propsim Service"
                density="compact"
                variant="outlined"
                hide-details
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col
              cols="4"
              class="py-0 px-0"
            >
              <v-text-field
                v-model="myelementname"
                readonly
                label="Element"
                variant="outlined"
                density="compact"
              ></v-text-field>
            </v-col>
            <v-col
              cols="4"
              class="py-0 px-0"
            >
              <v-select
                v-model="item.radio_port_id"
                readonly
                :items="all_radio_ports"
                item-title="name"
                item-value="id"
                density="compact"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
            <v-col
              cols="4"
              class="py-0 px-0"
            >
              <v-select
                v-model="item.service_id"
                readonly
                :items="servicesPropsims"
                item-title="name"
                item-value="id"
                density="compact"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.name"
                clearable
                label="Name"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.description"
                clearable
                label="Description"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model.number="item.freq"
                type="number"
                :clearable="create"
                :readonly="!create"
                label="Frequency"
                variant="outlined"
                density="compact"
                :rules="[rules.required, rules.validFrequency]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model.number="item.resolution"
                type="number"
                :clearable="create"
                :readonly="!create"
                label="Resolution"
                variant="outlined"
                density="compact"
                :rules="[rules.optionalPositiveNumber]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model.number="item.gain"
                type="number"
                :clearable="create"
                :readonly="!create"
                label="Gain"
                variant="outlined"
                density="compact"
                :rules="[rules.optionalPositiveNumber]"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <div v-if="create">
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Create
            <Confirm activator="parent"
                     message="Are you sure you want to create this propsim?"
                     @confirmed="submit">
            </Confirm>
            
          </v-btn>
        </div>
        <div v-else>
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Save
            <Confirm activator="parent"
                     message="Are you sure you want to save these changes?"
                     @confirmed="save">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!item.deleted_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Delete
            <Confirm activator="parent"
                     message="Are you sure you want to delete this propsim?"
                     @confirmed="remove">
            </Confirm>
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
  <ErrorDialog
    :model-value="errorIsActive"
    :error="error"
    @close="errorIsActive = false; this.error = null"
    @reload="errorIsActive = false; this.error = null"
    @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
</template>

<script>
  import { mapState } from 'pinia'
  import { clientStore } from '~/stores/client'
  import { adminStore } from '~/stores/admin'
  import { zoneStore } from '~/stores/zone'
  import { formRules } from '~/lib/formrules'
  import Confirm from '~/components/Confirm.vue'
  import ErrorDialog from '~/components/ErrorDialog.vue'
  import moment from 'moment'  
  import { getElementNameById } from '~/lib/helpers'

export default defineComponent({
    name: 'PropsimEdit',
    components: {
        Confirm: () => import("@/components/Confirm")
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    data() {
        return {
            isFormValid: false,
            disabled: false,
            rules: formRules(),
            errorIsActive: false,
            error: null,
            unsaved: false,
            all_radio_ports: [],
        }
    },
    emits: ['modified', 'created'],
    async mounted() {
        console.log("PropsimEdit:mounted")

        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            approved: true,
            deleted: false,
        };
        if (!this.create) {
            payload["element_id"] = this.item.element_id
        }
        await this.$zoneStore.fetchRadios(payload)
        await this.$zoneStore.fetchServicesPropsims()
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        allElements() {
            if (this.is_admin) {
                console.log("allElements", this.$adminStore.all_elements.elements)
                return this.$adminStore.all_elements.elements
            }
            else
                return this.$userStore.elements
        },
        ...mapState(zoneStore, {
            radios: (state) => state.radios.radios,
            servicesPropsims: (state) => state.servicesPropsims.services
        }),
        myelementname() {
            return getElementNameById(this.item.element_id);
        },
    },
    methods: {
        // The radio dropdowns have to match the current element's radios
        updateRadioPorts(element_id) {
            this.all_radio_ports = [];

            for (var i = 0; i < this.radios.length; i++) {
                var radio = this.radios[i];
                if (radio.element_id != element_id) {
                    continue;
                }
                for (var j = 0; j < radio.ports.length; j++) {
                    var port = radio.ports[j];

                    if (port.tx) {
                        this.all_radio_ports.push({
                            id: port.id,
                            name: radio.name + " -- "  + port.name
                        });
                    }
                }
            }
        },
        // When changing elements, need to rewrite the set of radios that
        // can be used in the radio dropdowns.
        changeElement(element_id) {
            console.log("PropsimEdit:changeElement", element_id)
            this.updateRadioPorts(element_id)
            this.item.radio_port_id = null
        },
        async save() {
            console.log("PropsimEdit:Save")
            this.disabled = true
            let data = await this.$propsimsEndpoint
                .update(this.item.id, this.item)
                .then((data) => {
                    this.notifyModified(data)
                })
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            this.disabled = false
        },
        async remove() {
            console.log("PropsimEdit:Delete")
            this.disabled = true
            await this.$propsimsEndpoint
                .delete(this.item.id, this.item).catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                })
            this.disabled = false
            navigateTo('/')
        },
        async submit() {
            this.disabled = true
            let data = await this.$propsimsEndpoint
                .create(this.item)
                .then((data) => {
                    this.notifyCreated(data)
                })
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            this.disabled = false
        },
        notifyModified(x) {
            console.log("PropsimEdit:notifyModified", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('modified', event)
        },
        notifyCreated(x) {
            console.log("PropsimEdit:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        },
    },
    watch: {
        item: {
            deep: true,
            handler(val) {
                this.unsaved = true;
            }
        },
        radios: {
            handler(val) {
                console.log("watch radios", val, this.radios);
                // In edit mode, need to set the radio dropdowns to the element.
                if (!this.create) {
                    this.updateRadioPorts(this.item.element_id);
                }
            }
        }
    },
});
</script>
