<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Propsims
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="3">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.propsim"
            clearable
            density="compact"
            variant="outlined"
            hint="Search propsim description"
            placeholder="Description"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.freq_min"
            clearable
            density="compact"
            variant="outlined"
            hint="Lower Frequency Bound"
            placeholder="Min Freq"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.freq_max"
            clearable
            density="compact"
            variant="outlined"
            hint="Upper Frequency Bound"
            placeholder="Max Freq"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="3">
          <v-select
            style="font-size: 0.75rem"
            density="compact"
            clearable
            variant="outlined"
            hide-details
            :items="propsimStatuses"
            v-model="filters.status"
            hint="Status"
            placeholder="Status"
            @update:modelValue="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-select>
        </v-col>
        <v-col cols="auto">
          <v-btn
            @click="resetFilters()"
            size="x-small"
            icon="mdi-eraser"
            variant="outlined"
            class="mt-1">
            <v-icon>mdi-eraser</v-icon>
            <v-tooltip
              activator="parent"
              location="bottom"
              >Reset filter parameters</v-tooltip>
          </v-btn>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/propsims/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Create Propsim</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :items-length="total"
          :page="page"
          :items-per-page="options.itemsPerPage"
          @update:options="optionsUpdated()"
          dense
        >
          <template v-slot:item.name="{ item }">
            <v-tooltip location="bottom">
              <template v-slot:activator="{ on, props }">
                <NuxtLink
                  v-if="item.id"
                  color="gray"
                  :to="`/propsims/${item.id}`"
                  nuxt
                  v-bind="props"
                  >
                  <v-icon>mdi-map-outline</v-icon>
                </NuxtLink>
                {{ item.name }}
              </template>
              <span>View Propsim</span>
            </v-tooltip>
          </template>
          <template v-slot:item.element_id="{ item }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.freq="{ item }">
            <v-chip
              size="small"
            >
              {{ item.freq/1e6 }}
            </v-chip>
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    name: 'PropsimList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        initialFilters: {
            type: Object,
            required: true,
        },
        initialOptions: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            loaded: false,
            filters: this.initialFilters,
            options: this.initialOptions,
            propsimStatuses: [
                'created', 'scheduled', 'running', 'processing',
                'completed', 'failed', 'deleted'
            ],
            headers: [
                { title: 'Name', key: 'name', align: 'start' },
                { title: 'Description', key: 'description',
                  value: function (item) {
                      return item.description.split('\n', 1)[0];
                  }
                },
                { title: 'Freq', key: 'freq', sortable: true },
                { title: 'Gain', key: 'gain', sortable: true },
                { title: 'Status', key: 'status', sortable: true },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
            ],
        }
    },
    async mounted() {
        console.log("PropsimList:mounted", this.initialFilters)
        this.loaded = true
    },
    computed: {
    },
    methods: {
        getElementNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getElementNameById(id)
            else
                return this.$userStore.getElementNameById(id)
        },
        notifyRefresh() {
            let event = {
                filters: this.filters,
                options: this.options,
            }
            this.$emit('needsUpdate', event)
        },
        resetFilters() {
            console.log("PropsimList:resetFilters: clear")
            this.filters.propsim = ""
            this.filters.freq_min = ""
            this.filters.freq_max = ""
            this.filters.status = ""
            this.notifyRefresh();
        },
        optionsUpdated() {
            console.log("PropsimList: options changed")
            this.notifyRefresh()
        },
    }
});
</script>
