<template>
  <v-card v-if="item">
    <v-card-title>
      RadioPort <i>{{ item.name }}</i> ({{item.id}})
      <span v-if="editable">
        (<NuxtLink
           color="gray"
           :to="`/radios/${item.radio_id}/ports/${item.id}/edit`"
           >
          <v-icon>mdi-text-box-edit-outline</v-icon>
          <v-tooltip
            activator="parent"
            location="end"
            >Edit Radio Port</v-tooltip>                    
        </NuxtLink>)
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>
              Radio
            </td>
            <td>
              <NuxtLink
                v-if="item.radio_id"
                :to="`/radios/${item.radio_id}`"
              >
                {{ item.radio_id }}
              </NuxtLink>
            </td>
          </tr>
          <tr>
            <td>
              Tx
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.tx"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Rx
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.rx"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Range
            </td>
            <td>
              {{ item.min_freq }} - {{ item.max_freq }}
            </td>
          </tr>
          <tr>
            <td>
              Max Power
            </td>
            <td>
              {{ item.max_power }}
            </td>
          </tr>
          <tr>
            <td>
              Antenna
            </td>
            <td v-if="item.antenna && item.antenna.name">
              <NuxtLink
                v-if="item.antenna.name"
                :to="`/antennas/${item.antenna.id}`"
              >
                {{ item.antenna.name }}
              </NuxtLink>
              ({{ item.antenna.id }})
            </td>
            <td v-else>
              <NuxtLink
                v-if="item.antenna_id"
                :to="`/antennas/${item.antenna_id}`"
              >
                {{ item.antenna_id }}
              </NuxtLink>
            </td>
          </tr>
          <tr>
            <td>
              Antenna Location
            </td>
            <td v-if="item.antenna_location && item.antenna_location.name">
              <NuxtLink
                v-if="item.antenna_location.name"
                :to="`/locations/${item.antenna_location_id}`"
              >
                {{ item.antenna_location.name }}
              </NuxtLink>
              ({{ item.antenna_location.id }})
              <MapModal :location_id="`${item.antenna_location_id}`"></MapModal>
            </td>
            <td v-else>
              {{ item.antenna_location_id }}
            </td>
          </tr>
          <tr>
            <td>
              Antenna Azimuth Angle
            </td>
            <td>
              {{ item.antenna_azimuth_angle }}
            </td>
          </tr>
          <tr>
            <td>
              Antenna Elevation Angle
            </td>
            <td>
              {{ item.antenna_elevation_angle }}
            </td>
          </tr>
          <tr>
            <td>
              Antenna Elevation Delta
            </td>
            <td>
              {{ item.antenna_elevation_delta }}
            </td>
          </tr>
          <tr>
            <td>
              Enabled
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.enabled"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <v-tooltip
                v-if="item.created_at"
              >
                <template v-slot:activator="{ on, props }">
                  <span v-bind="props">{{ $moment.utc(item.created_at).fromNow() }}</span>
                </template>
                <span>{{ item.created_at }}</span>
              </v-tooltip>
              <v-tooltip
                v-if="item.created_at && item.creator_id"
              >
                <template v-slot:activator="{ on, props }">
                  (<NuxtLink
                    color="gray"
                    :to="`/users/${item.creator_id}`"
                    nuxt
                    v-bind="props"
                  >
                    <v-icon>mdi-account</v-icon>
                  </NuxtLink>)
                </template>
                <span>View Creator</span>
              </v-tooltip>
              <span v-if="!item.created_at">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <v-tooltip
                v-if="item.updated_at"
              >
                <template v-slot:activator="{ on, props }">
                  <span v-bind="props">{{ $moment.utc(item.updated_at).fromNow() }}</span>
                </template>
                <span>{{ item.updated_at }}</span>
              </v-tooltip>
              <v-tooltip
                v-if="item.updated_at && item.updater_id"
              >
                <template v-slot:activator="{ on, props }">
                  (<NuxtLink
                    color="gray"
                    :to="`/users/${item.updater_id}`"
                    nuxt
                    v-bind="props"
                  >
                    <v-icon>mdi-account</v-icon>
                  </NuxtLink>)
                </template>
                <span>View Updater</span>
              </v-tooltip>
              <span v-if="!item.updated_at">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <v-tooltip
                v-if="item.deleted_at"
              >
                <template v-slot:activator="{ on, props }">
                  <span v-bind="props">{{ $moment.utc(item.deleted_at).fromNow() }}</span>
                </template>
                <span>{{ item.deleted_at }}</span>
              </v-tooltip>
              <v-tooltip
                v-if="item.deleted_at && item.deleter_id"
              >
                <template v-slot:activator="{ on, props }">
                  (<NuxtLink
                    color="gray"
                    :to="`/users/${item.deleter_id}`"
                    nuxt
                    v-bind="props"
                  >
                    <v-icon>mdi-account</v-icon>
                  </NuxtLink>)
                </template>
                <span>View Deleter</span>
              </v-tooltip>
              <span v-if="!item.deleted_at">&mdash;</span>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-card v-if="elaborate && item.ports">
        <v-card-title>
          Ports
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row
              v-for="port in item.ports"
              :key="port.id"
            >
              <v-col>
                <RadioPort :item="port"></RadioPort>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
import MapModal from '~/components/MapModal.vue'
  
export default defineComponent({
    name: 'RadioPort',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
        }
    },
    async mounted() {
    },
    computed: {
    },
    methods: {
    },
    watch: {
    }
});
</script>
