<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Radios
      </v-card-title>
      <v-spacer/>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="4">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.radio"
            clearable
            density="compact"
            variant="outlined"
            hint="Search radio name, description, FCC id, device id, serial number"
            placeholder="Name, description, FCC id, device id, serial number"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.enabled.value"
            :indeterminate="filters.enabled.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.enabled)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Enabled
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-btn
            @click="resetFilters()"
            size="x-small"
            icon="mdi-eraser"
            variant="outlined"
            class="mt-1 ml-1">
            <v-icon>mdi-eraser</v-icon>
            <v-tooltip
              activator="parent"
              location="bottom"
              >Reset filter parameters</v-tooltip>
          </v-btn>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/radios/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Create Radio</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :items-length="total"
          :items-per-page="options.itemsPerPage"
          @update:options="optionsUpdated()"
          dense
        >
          <template v-slot:item.name="{ item }">
            <v-tooltip location="bottom">
              <template v-slot:activator="{ on, props }">
                <NuxtLink
                  v-if="item.id"
                  color="gray"
                  :to="`/radios/${item.id}`"
                  nuxt
                  v-bind="props"
                >
                  <v-icon>mdi-radio-tower</v-icon>
                </NuxtLink>
                {{ item.name }}
              </template>
              <span>View Radio</span>
            </v-tooltip>
          </template>
          <template v-slot:item.element_id="{ item }">
            <span>{{ getElementNameById(item.element_id) }}</span>
          </template>
          <template v-slot:item.enabled="{ item }">
            <v-icon
              v-if="item.enabled"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.ports="{ item }">
            <span
              v-if="item.ports !== undefined"
            >
              {{ item.ports.length }}
            </span>
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'RadioList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        initialFilters: {
            type: Object,
            required: true,
        },
        initialOptions: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            filters: this.initialFilters,
            options: this.initialOptions,

            headers: [
                { title: 'Name', key: 'name', align: 'start', sortable: true },
                { title: 'Element', key: 'element_id', sortable: true },
                { title: 'Description', key: 'description' },
                { title: 'Ports', key: 'ports' },
                { title: 'FCC Id', key: 'fcc_id', sortable: true },
                { title: 'Device Id', key: 'device_id', sortable: true },
                { title: 'Serial Number', key: 'serial_number', sortable: true },
                { title: 'Enabled', key: 'enabled', sortable: true },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
                { title: 'Deleted', key: 'deleted_at', sortable: true }
            ],
        }
    },
    async mounted() {
        console.log("radiolist:mounted", this.items);
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            let event = {
                filters: this.filters,
                options: this.options,
            }
            this.$emit('needsUpdate', event)
        },
        resetFilters() {
            this.filters.radio = "";
            this.filters.enabled.indeterminate = true;
            this.filters.enabled.value = true;
            this.filters.deleted = false;
            this.notifyRefresh();
        },
        optionsUpdated() {
            console.log("radiolist: options changed")
            this.notifyRefresh()
        },
        indetCheckboxClick(evt, model) {
            if (evt.ctrlKey) {
                if (!model.indeterminate) {
                    model.indeterminate = true
                    this.notifyRefresh()
                }
                evt.preventDefault()
                evt.stopPropagation()
            }
            else {
                model.indeterminate = false
            }
        }
    },
    watch: {
    }
});
</script>
