<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        RA Observations
      </v-card-title>
      <v-container class="pt-1 pb-0">
        <v-row justify="end" dense>
          <v-col cols="3">
            <v-text-field
              v-model="filters.observation"
              clearable
              density="compact"
              variant="outlined"
              hint="Search RA observation details"
              placeholder="Source ID"
              single-line
              hide-details
              @change="fetchObservations"
              @click:clear="fetchObservations"
            ></v-text-field>
          </v-col>
          <v-col cols="auto">
            <v-checkbox
              v-model="filters.current.value"
              :indeterminate="filters.current.indeterminate"
              label="Current"
              hide-details
              dense
              @click="indetCheckboxClick($event, filters.current)"
              @change="fetchObservations"
            ></v-checkbox>
          </v-col>
          <v-col cols="auto">
            <v-checkbox
              v-model="filters.future.value"
              :indeterminate="filters.future.indeterminate"
              label="Future"
              hide-details
              dense
              @click="indetCheckboxClick($event, filters.future)"
              @change="fetchObservations"
            ></v-checkbox>
          </v-col>
          <v-col cols="auto">
            <v-checkbox
              v-model="filters.past.value"
              :indeterminate="filters.past.indeterminate"
              label="Past"
              hide-details
              dense
              @click="indetCheckboxClick($event, filters.past)"
              @change="fetchObservations"
            ></v-checkbox>
          </v-col>
          <v-col cols="auto">
            <v-btn
              @click="resetFilters"
              size="x-small"
              icon="mdi-eraser"
              variant="outlined"
              class="mt-1">
              <v-icon>mdi-eraser</v-icon>
              <v-tooltip
                activator="parent"
                location="bottom"
                >Reset filter parameters</v-tooltip>
            </v-btn>
            <v-tooltip location="bottom">
              <template v-slot:activator="{ on, props }">
                <v-btn
                  @click="fetchObservations"
                  size="x-small"
                  icon="mdi-refresh"
                  variant="outlined"
                  class="mt-1 ml-1"
                  v-bind="props"
                />
              </template>
              <span>Refresh</span>
            </v-tooltip>
            <v-tooltip location="bottom">
              <template v-slot:activator="{ on, props }">
                <v-btn
                  to="/raobservations/create"
                  size="x-small"
                  icon="mdi-plus"
                  variant="outlined"
                  class="mt-1 ml-1"
                  v-bind="props"
                />
              </template>
              <span>Create RA Observation</span>
            </v-tooltip>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
      <v-row justify="start" align="start">
        <v-col cols="12">
          <v-data-table-server
            v-model:options="options"
            class="v-data-table-compact-harder"
            :headers="headers"
            :items="items"
            :items-length="total"
            :items-per-page="options.itemsPerPage"
            @update:options="fetchObservations"
            dense
          >
            <template v-slot:item.TransactionId="{ item }">
              <NuxtLink
                color="gray"
                :to="`/raobservations/${item.TransactionId}`"
                >
                <v-icon>mdi-clock-outline</v-icon>
                <v-tooltip
                  activator="parent"
                  location="end"
                  >
                  <span>View RA Observation</span>
                </v-tooltip>
              </NuxtLink>
              {{ item.TransactionId }}
            </template>
            <template v-slot:item.DateTimeStart="{ item }">
              {{ formatDate(item.DateTimeStart) }}
            </template>
            <template v-slot:item.DateTimeStop="{ item }">
              {{ formatDate(item.DateTimeStop) }}
            </template>
            <template v-slot:item.DateTimePublished="{ item }">
              {{ formatDate(item.DateTimePublished) }}
            </template>
            <template v-slot:item.DateTimeCreated="{ item }">
              {{ formatDate(item.DateTimeCreated) }}
            </template>
            <template v-slot:item.DateTimeUpdated="{ item }">
              {{ formatDate(item.DateTimeUpdated) }}
            </template>
            <template v-slot:item.FreqStart="{ item }">
              {{ formatFrequency(item.FreqStart) }}
            </template>
            <template v-slot:item.FreqStop="{ item }">
              {{ formatFrequency(item.FreqStop) }}
            </template>
          </v-data-table-server>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { defineComponent, ref, reactive, onMounted } from 'vue'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'
import moment from 'moment'

export default defineComponent({
  name: 'RAObservationList',
  setup() {
    const filters = reactive({
      observation: '',
      current: { value: false, indeterminate: false },
      future: { value: false, indeterminate: false },
      past: { value: false, indeterminate: false },
    })

    const options = reactive({
      page: 1,
      itemsPerPage: 10,
      sortBy: [{ key: 'DateTimeCreated', order: 'desc' }],
    });

    const headers = [
      { title: 'Transaction ID', key: 'TransactionId', align: 'start', sortable: false },
      { title: 'Source ID', key: 'SourceId', sortable: false },
      { title: 'Start Time', key: 'DateTimeStart', sortable: true },
      { title: 'Stop Time', key: 'DateTimeStop', sortable: true },
      { title: 'Frequency Start', key: 'FreqStart', sortable: false },
      { title: 'Frequency Stop', key: 'FreqStop', sortable: false },
      { title: 'Region Size', key: 'RegionSize', sortable: false },
      { title: 'Region X', key: 'RegionX', sortable: false },
      { title: 'Region Y', key: 'RegionY', sortable: false },
      { title: 'Coordinate Type', key: 'CoordType', sortable: false },
      { title: 'Published', key: 'DateTimePublished', sortable: true },
      { title: 'Created', key: 'DateTimeCreated', sortable: true },
      { title: 'Updated', key: 'UpdatedAt', sortable: true },
      { title: 'Grant ID', key: 'GrantId', sortable: false },
    ];

    const items = ref([])
    const total = ref(0)
    const error = ref(null)

    return {
      filters,
      options,
      headers,
      items,
      total,
      error,
    }
  },
  computed: {
    ...mapState(clientStore, {
      is_admin: (state) => state.is_admin
    }),
  },
  methods: {
    async fetchObservations() {
      try {
        let sortKey = this.options.sortBy[0]?.key || 'DateTimeCreated';
        // Map frontend sort keys to backend expected values
        const sortKeyMap = {
          'dateTimePublished': 'DateTimePublished',
          'dateTimeCreated': 'DateTimeCreated',
          'createdAt': 'CreatedAt',
          'updatedAt': 'UpdatedAt'
        };

        const params = {
          page: this.options.page,
          items_per_page: this.options.itemsPerPage,
          sort: sortKeyMap[sortKey] || 'DateTimeCreated', // Default to 'DateTimeCreated' if not found
          sort_asc: this.options.sortBy[0]?.order === 'asc',
          observation: this.filters.observation || undefined, // Only send if not empty
          current: this.filters.current.value,
          future: this.filters.future.value,
          past: this.filters.past.value,
        };

        // Remove undefined values
        Object.keys(params).forEach(key => params[key] === undefined && delete params[key]);

        console.log('Fetching observations with params:', params);  // Debug log

        const response = await this.$raobservationsEndpoint.list(params);
        this.items = response.ra_observations || [];
        this.total = response.total || 0;
      } catch (err) {
        console.error('Error fetching RA Observations:', err);
        this.error = err;
      }
    },
    resetFilters() {
      this.filters.observation = ""
      this.filters.current.indeterminate = true
      this.filters.current.value = true
      this.filters.future.indeterminate = true
      this.filters.future.value = true
      this.filters.past.indeterminate = true
      this.filters.past.value = true
      this.fetchObservations()
    },
    indetCheckboxClick(evt, model) {
      if (evt.ctrlKey) {
        if (!model.indeterminate) {
          model.indeterminate = true
          this.fetchObservations()
        }
        evt.preventDefault()
        evt.stopPropagation()
      } else {
        model.indeterminate = false
      }
    },
    formatDate(date) {
      return moment(date).format('YYYY-MM-DD HH:mm:ss')
    },
    formatFrequency(freq) {
      return `${(freq / 1e6).toFixed(2)} MHz`
    }
  },
  mounted() {
    this.fetchObservations()
  },
})
</script>

<style scoped>
.v-data-table-compact-harder >>> table {
  font-size: 0.8rem;
}
</style>