<template>
  <v-card v-if="item">
    <v-card-title>
      RA Observation 
      (<NuxtLink
         color="gray"
         :to="`/raobservations/${item.TransactionId}`"
         nuxt
         >{{item.TransactionId}}
      </NuxtLink>)
      <span v-if="editable">
        (<NuxtLink
           color="gray"
           :to="`/raobservations/${item.TransactionId}/edit`"
           >
          <v-icon>mdi-text-box-edit-outline</v-icon>
          <v-tooltip
            activator="parent"
            location="end"
            >Edit RA Observation</v-tooltip>                    
        </NuxtLink>
        <span class="ml-1">
          <v-btn
            size="x-small"
            icon="mdi-refresh"
            variant="outlined"
            @click="refreshRAObservation()"/></span>)
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>DPA ID</td>
            <td>{{ item.DpaId }}</td>
          </tr>
          <tr>
            <td>DPA Name</td>
            <td>{{ item.DpaName }}</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>
              Lat: {{ item.LocLat }}, Long: {{ item.LocLong }}, 
              Radius: {{ item.LocRadius }} km, Elevation: {{ item.LocElevation }} m
            </td>
          </tr>
          <tr>
            <td>Location Comment</td>
            <td>{{ item.LocComment || '—' }}</td>
          </tr>
          <tr>
            <td>Start Time</td>
            <td>
              <span>
                {{ $moment.utc(item.DateTimeStart).fromNow() }}
                <v-tooltip activator="parent" location="end">
                  <span>{{ item.DateTimeStart }}</span>
                </v-tooltip>
              </span>
            </td>
          </tr>
          <tr>
            <td>Stop Time</td>
            <td>
              <span>
                {{ $moment.utc(item.DateTimeStop).fromNow() }}
                <v-tooltip activator="parent" location="end">
                  <span>{{ item.DateTimeStop }}</span>
                </v-tooltip>
              </span>
            </td>
          </tr>
          <tr>
            <td>Frequency Range</td>
            <td>{{ item.FreqStart / 1e6 }} MHz - {{ item.FreqStop / 1e6 }} MHz</td>
          </tr>
          <tr>
            <td>Region Size</td>
            <td>{{ item.RegionSize }} degrees</td>
          </tr>
          <tr>
            <td>Coordinate Type</td>
            <td>{{ item.CoordType }}</td>
          </tr>
          <tr>
            <td>Number of Events</td>
            <td>{{ item.NumberEvents }}</td>
          </tr>
          <tr>
            <td>Event Status</td>
            <td>{{ item.EventStatus }}</td>
          </tr>
          <tr>
            <td>Region Coordinates</td>
            <td>
              {{ item.CoordType === 'azel' ? 'Azimuth' : 'Right Ascension' }}: {{ item.RegionX }},
              {{ item.CoordType === 'azel' ? 'Elevation' : 'Declination' }}: {{ item.RegionY }}
            </td>
          </tr>
          <tr>
            <td>Observation Type</td>
            <td>{{ item.ObsType }}</td>
          </tr>
          <tr>
            <td>Correlator Integration Time</td>
            <td>{{ item.CorrInt }} s</td>
          </tr>
          <tr>
            <td>Acquisition Time</td>
            <td>{{ item.Acquisition }} s</td>
          </tr>
          <tr>
            <td>Source ID</td>
            <td>{{ item.SourceId }}</td>
          </tr>
          <tr>
            <td>Grant ID</td>
            <td>{{ item.GrantId }}</td>
          </tr>
          <tr>
            <td>Event Comments</td>
            <td>{{ item.EventComment || '—' }}</td>
          </tr>
          <tr>
            <td>Created</td>
            <td>
              <span v-if="item.DateTimeCreated">
                <span>
                  {{ $moment.utc(item.DateTimeCreated).fromNow() }}
                  <v-tooltip activator="parent" location="end">
                    <span>{{ item.DateTimeCreated }}</span>
                  </v-tooltip>
                </span>
              </span>
              <span v-else>—</span>
            </td>
          </tr>
          <tr>
            <td>Published</td>
            <td>
              <span v-if="item.DateTimePublished">
                <span>
                  {{ $moment.utc(item.DateTimePublished).fromNow() }}
                  <v-tooltip activator="parent" location="end">
                    <span>{{ item.DateTimePublished }}</span>
                  </v-tooltip>
                </span>
              </span>
              <span v-else>—</span>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card-text>
  </v-card>
  <v-card v-else>
    <v-card-text>No RA Observation data available.</v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
  name: 'RAObservation',
  props: {
    item: {
      type: Object,
      required: true
    },
    elaborate: {
      type: Boolean,
      required: false,
      default: true
    },
    editable: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  emits: ['refresh'],
  async mounted() {
    console.log("RAObservation:mounted")
  },
  methods: {
    refreshRAObservation() {
      console.log("refreshRAObservation")
      this.$emit('refresh')
    }
  },
  watch: {
  }
});
</script>