<template>
  <v-form v-if="item" v-model="isFormValid">
    <v-card>
      <v-card-title>
        <span v-if="create">New RA Observation</span>
        <span v-else>Edit RA Observation {{item.transactionId}}</span>
      </v-card-title>
      <v-card-text class="pa-4">
        <v-container class="pa-0">
          <v-row dense>
            <v-col cols="6">
              <v-select
                v-model="item.dpaName"
                :items="dpaOptions"
                item-title="text"
                item-value="text"
                label="DPA Name"
                variant="outlined"
                density="compact"
                @update:model-value="updateDpaId"
              ></v-select>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="item.dpaId"
                label="DPA ID"
                variant="outlined"
                density="compact"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="3">
              <v-text-field
                v-model.number="item.locLat"
                label="Latitude"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('locLat')"

              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                v-model.number="item.locLong"
                label="Longitude"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('locLong')"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                v-model.number="item.locRadius"
                label="Radius (km)"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('locRadius')"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                v-model.number="item.locElevation"
                label="Elevation (m)"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('locElevation')"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12">
              <v-textarea
                v-model="item.locComment"
                label="Location Comment"
                variant="outlined"
                density="compact"
                rows="2"
                hide-details
                class="mb-3"
                @focus="clearField('locComment')"
              ></v-textarea>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6">
              <v-text-field
                v-model="dateTimeStart_readable"
                label="Start Time"
                type="datetime-local"
                variant="outlined"
                density="compact"
                @focus="clearField('dateTimeStart')"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="dateTimeStop_readable"
                label="Stop Time"
                type="datetime-local"
                variant="outlined"
                density="compact"
                @focus="clearField('dateTimeStop')"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="4">
              <v-text-field
                v-model.number="item.freqStart"
                label="Start Frequency (Hz)"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('freqStart')"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                v-model.number="item.freqStop"
                label="Stop Frequency (Hz)"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('freqStop')"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                v-model.number="item.regionSize"
                label="Region Size (degrees)"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('regionSize')"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="4">
              <v-select
                v-model="item.coordType"
                :items="['azel', 'radec']"
                label="Coordinate Type"
                variant="outlined"
                density="compact"
                @focus="clearField('coordType')"
              ></v-select>
            </v-col>
            <v-col cols="4">
              <v-text-field
                v-model.number="item.numberEvents"
                label="Number of Events"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('numberEvents')"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-select
                v-model="item.eventStatus"
                :items="['actual', 'projected']"
                label="Event Status"
                variant="outlined"
                density="compact"
                @focus="clearField('eventStatus')"
              ></v-select>
            </v-col>
          </v-row>
         
          <v-row dense>
            <v-col cols="6">
              <v-text-field
                v-model.number="item.regionX"
                :label="item.coordType === 'azel' ? 'Azimuth (degrees)' : 'Right Ascension (hours)'"
                :rules="[coordinateRules]"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('regionX')"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model.number="item.regionY"
                :label="item.coordType === 'azel' ? 'Elevation (degrees)' : 'Declination (degrees)'"
                :rules="[coordinateRules]"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('regionY')"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6">
              <v-select
                v-model="item.obsType"
                :items="['pulsar']"
                label="Observation Type"
                variant="outlined"
                density="compact"
                @focus="clearField('obsType')"
              ></v-select>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model.number="item.corrInt"
                label="Correlator Integration Time (s)"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('corrInt')"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="4">
              <v-text-field
                v-model.number="item.acquisition"
                label="Acquisition Time (s)"
                type="number"
                variant="outlined"
                density="compact"
                @focus="clearField('acquisition')"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="item.sourceId"
                label="Source ID"
                variant="outlined"
                density="compact"
                @focus="clearField('sourceId')"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6">
              <v-text-field
                v-model="grantId"
                :label="grantStatus === 'denied' ? 'Grant Denied' : 'Grant ID'"
                variant="outlined"
                density="compact"
                readonly
                :error="grantStatus === 'denied'"
                :error-messages="grantStatus === 'denied' ? 'Grant was denied. Please try again.' : ''"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-btn
                color="primary"
                :disabled="grantId !== null"
                @click="openGrantCreation"
              >
                Create Grant
              </v-btn>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12">
              <v-textarea
                v-model="item.eventComment"
                label="Notes"
                variant="outlined"
                density="compact"
                rows="3"
                hide-details
                @focus="clearField('notes')"
              ></v-textarea>
            </v-col>
          </v-row>
          
        </v-container>
      </v-card-text>
      <v-card-actions class="pa-4">
        <v-btn
          v-if="create"
          color="success"
          :disabled="!isFormValid || disabled || !grantId"
        >
          Create
          <Confirm 
            activator="parent"
            message="Are you sure you want to create this RA Observation?"
            @confirmed="submit"
          >
          </Confirm>
        </v-btn>
        <template v-else>
          <v-btn
            v-if="!create"
            color="success"
            :disabled="!isFormValid || disabled"
          >
            Save
            <Confirm 
              activator="parent"
              message="Are you sure you want to save this RA Observation?"
              @confirmed="save"
            >
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!create"
            color="error"
            :disabled="disabled"
            class="ml-2"
          >
            Delete
            <Confirm 
              activator="parent"
              message="Are you sure you want to delete this RA Observation?"
              @confirmed="remove"
            >
            </Confirm>
          </v-btn>
        </template>
      </v-card-actions>
    </v-card>
    <!-- Grant Creation Modal -->
    <v-dialog v-model="showGrantModal" max-width="800px">
      <GrantEdit
        :item="grantData"
        :create="true"
        @created="onGrantCreated"
      />
    </v-dialog>

    <!-- Error dialog for grant denial -->
    <v-dialog v-model="showGrantDeniedDialog" max-width="400px">
      <v-card>
        <v-card-title class="headline">Grant Denied</v-card-title>
        <v-card-text>
          The grant was denied. Reason: {{ grantDenialReason }}
          <br><br>
          Please review your grant details and try again.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="showGrantDeniedDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-form>
  <ErrorDialog
    :model-value="errorIsActive"
    :error="error"
    @close="errorIsActive = false; this.error = null"
    @reload="errorIsActive = false; this.error = null"
    @back="errorIsActive = false; this.error = null"
  ></ErrorDialog>
</template>

<script>
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'
import { adminStore } from '~/stores/admin'
import { formRules } from '~/lib/formrules'
import Confirm from '~/components/Confirm.vue'
import ErrorDialog from '~/components/ErrorDialog.vue'
import GrantEdit from './GrantEdit.vue'
import moment from 'moment'
import { v4 as uuidv4 } from 'uuid'

export default defineComponent({
  name: 'RAObservationEdit',
  components: {
    Confirm,
    ErrorDialog,
    GrantEdit
  },
  props: {
    item: {
      type: Object,
      required: true
    },
    create: {
      type: Boolean,
      required: false,
      default: false
    },
  },
  data() {
    return {
      grantId: null,
      grantStatus: null,
      showGrantModal: false,
      showGrantDeniedDialog: false,
      grantDenialReason: '',
      grantData: {},
      isFormValid: false,
      disabled: false,
      rules: formRules(),
      errorIsActive: false,
      error: null,
      unsaved: false,
      dpaOptions: [
         { value: 'ddda9e28-18e0-4ab7-9270-4f477045f32d', text: 'HCRO' },
         { value: 'eada9e28-23f0-24a7-9340-6d2a459214df', text: 'NRAO' }
         // Add more DPA options as needed
      ],
    }
  },
  emits: ['modified', 'created'],
  async mounted() {
    console.log("RAObservationEdit:mounted")
    // print the item
    console.log("RAObservationEdit:item", this.item)
    //check if item has first letter small in the key value, if yes then convert it to first letter capital for all keys
    for (const key in this.item) {
      if (key.charAt(0) === key.charAt(0).toUpperCase()) {
        this.item[key.charAt(0).toLowerCase() + key.slice(1)] = this.item[key]
        delete this.item[key]
      }
    }
    // if grantId is present, then show the grantId
    if (this.item.grantId) {
      this.grantId = this.item.grantId
    } 
  },
  computed: {
    ...mapState(clientStore, {
      is_admin: (state) => state.is_admin
    }),
    dateTimeStart_readable: {
      get() {
        return this.item && this.item.dateTimeStart
          ? moment(this.item.dateTimeStart).format("YYYY-MM-DDTHH:mm:ss")
          : ""
      },
      set(value) {
        this.item.dateTimeStart = value ? moment(value).toISOString() : null
      }
    },
    dateTimeStop_readable: {
      get() {
        return this.item && this.item.dateTimeStop
          ? moment(this.item.dateTimeStop).format("YYYY-MM-DDTHH:mm:ss")
          : ""
      },
      set(value) {
        this.item.dateTimeStop = value ? moment(value).toISOString() : null
      }
    }
  },
  methods: {
    openGrantCreation() {
      this.prepareGrantData();
      this.showGrantModal = true;
    },
    updateDpaId(selectedDpaName) {
      const selectedDpa = this.dpaOptions.find(option => option.text === selectedDpaName);
      if (selectedDpa) {
        this.item.dpaId = selectedDpa.value;
      } else {
        this.item.dpaId = '';
      }
    },
    prepareGrantData() {
      this.grantData = {
        name: `Grant for RA Observation: ${this.item.sourceId} at ${this.item.dpaName}`,
        description: `Automatically created grant for RA Observation: ${this.item.sourceId} at ${this.item.dpaName}. Start time: ${this.item.dateTimeStart}, Stop time: ${this.item.dateTimeStop}`,
        starts_at: this.formatTimestamp(this.item.dateTimeStart),
        expires_at: this.formatTimestamp(this.item.dateTimeStop),
        priority: 0,
        radio_ports: [], 
        constraints: [
          {
            constraint: {
              min_freq: this.item.freqStart,
              max_freq: this.item.freqStop,
              min_eirp: -90,
              max_eirp: 10,
              exclusive: true,
              bandwidth: this.item.freqStop - this.item.freqStart,
            }
          }
        ],
        int_constraints: [],
        rt_int_constraints: []
      };
    },

    onGrantCreated(event) {
      console.log("Grant creation result:", event);
      this.grantId = event.id;
      this.grantStatus = event.status;
      this.showGrantModal = false;

      if (event.status === 'denied') {
        this.grantDenialReason = event.denied_at ? `Denied at ${event.denied_at}` : 'Unknown reason';
        this.showGrantDeniedDialog = true;
      } else if (event.status === 'approved') {
        // Grant was approved, proceed as normal
      } else {
        // Handle other potential statuses
      }
    },

    clearField(field) {
      //this.item[field] = null
    },
    coordinateRules(value) {
    if (this.item.coordType === 'azel') {
      return (value >= 0 && value <= 360) || 'Value must be between 0 and 360 for azimuth/elevation'
    } else {
      return (value >= 0 && value < 24) || 'Value must be between 0 and 24 for right ascension'
    }
    },
    clearError() {
      setTimeout(() => {
        this.error = null;
        this.errorIsActive = false;
      }, 5000);
    },
    validateField(value, fieldName, type) {
      if (value === null || value === undefined || value === '') {
        return `${fieldName} is required`;
      }
      
      switch (type) {
        case 'number':
          if (isNaN(Number(value))) {
            return `${fieldName} must be a valid number`;
          }
          break;
        case 'date':
          if (!moment(value).isValid()) {
            return `${fieldName} must be a valid date`;
          }
          break;
        case 'coordinate':
          if (this.item.coordType === 'azel') {
            if (value < 0 || value > 360) {
              return `${fieldName} must be between 0 and 360 for azimuth/elevation`;
            }
          } else {
            if (value < 0 || value >= 24) {
              return `${fieldName} must be between 0 and 24 for right ascension`;
            }
          }
          break;
      }
      
      return null;
    },
    async save() {
      console.log("RAObservationEdit:Save")
      this.disabled = true
      try {
        const data = await this.$raobservationsEndpoint.update(this.item.transactionId, this.item)
        this.notifyModified(data)
      } catch (err) {
        this.error = err
        this.errorIsActive = true
        this.clearError()
      } finally {
        this.disabled = false
      }
    },
    async remove() {
      console.log("RAObservationEdit:Delete")
      this.disabled = true
      try {
        await this.$raobservationsEndpoint.delete(this.item.transactionId)
        navigateTo('/elements/" + this.item.element_id + "/astronomy')
      } catch (err) {
        this.error = err
        this.errorIsActive = true
        this.clearError()
      } finally {
        this.disabled = false
      }
    },
    formatTimestamp(date) {
      // Format the date with the timezone offset
      return moment(date).format('YYYY-MM-DDTHH:mm:ssZ');
    },
    async submit() {
      if (!this.grantId) {
        this.error = "Please create a grant before submitting the RA Observation.";
        this.errorIsActive = true;
        this.clearError();
        return;
      }
     
      this.disabled = true;
      const errors = [];

      // Validate all fields
      const fieldsToValidate = [
        { name: 'DPA ID', value: this.item.dpaId, type: 'string' },
        { name: 'DPA Name', value: this.item.dpaName, type: 'string' },
        { name: 'Latitude', value: this.item.locLat, type: 'number' },
        { name: 'Longitude', value: this.item.locLong, type: 'number' },
        { name: 'Radius', value: this.item.locRadius, type: 'number' },
        { name: 'Elevation', value: this.item.locElevation, type: 'number' },
        { name: 'Coordinate Type', value: this.item.coordType, type: 'string' },
        { name: 'Number of Events', value: this.item.numberEvents, type: 'number' },
        { name: 'Event Status', value: this.item.eventStatus, type: 'string' },
        { name: 'Start Time', value: this.item.dateTimeStart, type: 'date' },
        { name: 'Stop Time', value: this.item.dateTimeStop, type: 'date' },
        { name: 'Start Frequency', value: this.item.freqStart, type: 'number' },
        { name: 'Stop Frequency', value: this.item.freqStop, type: 'number' },
        { name: 'Region Size', value: this.item.regionSize, type: 'number' },
        { name: 'Region X', value: this.item.regionX, type: 'coordinate' },
        { name: 'Region Y', value: this.item.regionY, type: 'coordinate' },
        { name: 'Observation Type', value: this.item.obsType, type: 'string' },
        { name: 'Correlator Integration Time', value: this.item.corrInt, type: 'number' },
        { name: 'Acquisition Time', value: this.item.acquisition, type: 'number' },
        { name: 'Source ID', value: this.item.sourceId, type: 'string' },
      ];

      for (const field of fieldsToValidate) {
        const error = this.validateField(field.value, field.name, field.type);
        if (error) {
          errors.push(error);
        }
      }

      if (errors.length > 0) {
        this.error = errors.join('\n');
        this.errorIsActive = true;
        this.clearError();
        this.disabled = false;
        return;
      }

      try {
        const dataToSend = this.prepareDataToSend();
        dataToSend.grantId = this.grantId; // Add the grant ID to the RA Observation data
        console.log("RAObservationEdit:submit", dataToSend);
        const data = await this.$raobservationsEndpoint.create(dataToSend);
        this.notifyCreated(data);
      } catch (err) {
        console.error(err);
        if (err.response && err.response.status === 409) {
          // Handle the specific conflict error
          this.error = "An observation with the same source ID already exists for the specified time range. Please choose a different time range or source ID.";
        } else {
          this.error = err.message || "An error occurred while creating the observation.";
        }
        this.errorIsActive = true;
        this.clearError();
      } finally {
        this.disabled = false;
      }
    },
    notifyModified(x) {
      console.log("RAObservationEdit:notifyModified", x)
      this.$emit('modified', { transactionId: x.transactionId, item: x })
    },
    notifyCreated(x) {
      console.log("RAObservationEdit:notifyCreated", x)
      let event = {
        transactionId: x.transactionId,
        item: x,
      }
      this.$emit('created', event)
    },
    generateTransactionIdAndChecksum() {
      // Generate UUID for transactionId
      this.item.transactionId = uuidv4();

      // Generate a simple checksum
      const generateChecksum = (obj) => {
        const itemForChecksum = { ...obj };
        delete itemForChecksum.TransactionId;
        delete itemForChecksum.Checksum;
        // Sort the keys to ensure consistent order
        const sortedKeys = Object.keys(itemForChecksum).sort();
        let sum = 0;
        for (const key of sortedKeys) {
          const value = itemForChecksum[key];
          const stringValue = typeof value === 'object' ? JSON.stringify(value) : String(value);
          for (let i = 0; i < stringValue.length; i++) {
            sum += stringValue.charCodeAt(i);
          }
        }
        return (sum % 0xFFFFFFFF).toString(16).padStart(8, '0').slice(-8).toLowerCase();
      };

      // Create a string representation of the item, excluding transactionId and checksum
      const itemForChecksum = { ...this.item };
      delete itemForChecksum.transactionId;
      delete itemForChecksum.checksum;
      const itemString = JSON.stringify(itemForChecksum);

      // Generate and set the checksum
      this.item.checksum = generateChecksum(itemString);

      console.log("Generated TransactionId:", this.item.transactionId);
      console.log("Generated Checksum:", this.item.checksum);
    },
    async createGrant() {
      const grantData = {
        element_id: this.item.element_id, 
        name: `Grant for RA Observation: ${this.item.sourceId} at ${this.item.dpaName}`,
        description: `Automatically created grant for RA Observation: ${this.item.sourceId} at ${this.item.dpaName}. Start time: ${this.item.dateTimeStart}, Stop time: ${this.item.dateTimeStop}`,
        starts_at: this.formatTimestamp(this.item.dateTimeStart),
        expires_at: this.formatTimestamp(this.item.dateTimeStop),
        priority: 0, 
        radio_ports: [], 
        constraints: [
          {
            constraint: {
              min_freq: this.item.freqStart,
              max_freq: this.item.freqStop,
              min_eirp: -90, // Set if needed
              max_eirp: 3, // Set if needed
              exclusive: true,
              bandwidth: this.item.freqStop - this.item.freqStart,
            }
          }
        ],
        int_constraints: [],
        rt_int_constraints: []
      };

      try {
        const response = await this.$grantsEndpoint.create(grantData);
        return response.id; // Assuming the response contains the created grant's ID
      } catch (error) {
        console.error('Error creating grant:', error);
        throw error;
      }
    },
    prepareDataToSend() {
      const capitalizeFirstLetter = (string) => {
        return string.charAt(0).toUpperCase() + string.slice(1);
      };

      const convertKeys = (obj) => {
        const newObj = {};
        for (const [key, value] of Object.entries(obj)) {
          if (value !== null && value !== undefined) {
            newObj[capitalizeFirstLetter(key)] = value;
          }
        }
        return newObj;
      };

      const generateChecksum = (obj) => {
        const itemForChecksum = { ...obj };
        delete itemForChecksum.TransactionId;
        delete itemForChecksum.Checksum;
        const itemString = JSON.stringify(itemForChecksum);
        let sum = 0;
        for (let i = 0; i < itemString.length; i++) {
          sum += itemString.charCodeAt(i);
        }
        return (sum % 0xFFFFFFFF).toString(16).padStart(8, '0').slice(-8);
      };

      const dataToSend = convertKeys({
        id: null,
        transactionId: uuidv4(), // Generate new transaction ID
        dateTimePublished: moment().toISOString(),
        dateTimeCreated: moment().toISOString(),
        dpaId: this.item.dpaId,
        dpaName: this.item.dpaName,
        locLat: parseFloat(this.item.locLat),
        locLong: parseFloat(this.item.locLong),
        locRadius: parseFloat(this.item.locRadius),
        locElevation: parseFloat(this.item.locElevation),
        locComment: this.item.locComment,
        coordType: this.item.coordType,
        numberEvents: parseInt(this.item.numberEvents),
        eventId: parseInt(this.item.eventId) || 1,
        eventComment: this.item.eventComment,
        eventStatus: this.item.eventStatus,
        dateTimeStart: moment(this.item.dateTimeStart).toISOString(),
        dateTimeStop: moment(this.item.dateTimeStop).toISOString(),
        acquisition: parseFloat(this.item.acquisition),
        freqStart: parseFloat(this.item.freqStart),
        freqStop: parseFloat(this.item.freqStop),
        sourceId: this.item.sourceId,
        obsType: this.item.obsType,
        corrInt: parseFloat(this.item.corrInt),
        regionSize: parseFloat(this.item.regionSize),
        regionX: parseFloat(this.item.regionX),
        regionY: parseFloat(this.item.regionY),
        enabled: true,
        creatorId: this.item.element_id, 
      });

      // Generate checksum after all fields have been set
      dataToSend.Checksum = generateChecksum(dataToSend);

      console.log("Data to be sent:", JSON.stringify(dataToSend, null, 2));
      return dataToSend;
    },
    // async fetchDPAOptions() {
    //   // Implement fetching DPA options if needed
    // },
  },
  watch: {
    item: {
      deep: true,
      handler() {
        this.unsaved = true
      }
    },
  },
})
</script>