<template>
  <v-card>
    <v-form
      v-model="valid"
    >
      <v-card-title
        v-if="title"
      >
        Create Role Binding
      </v-card-title>
      <v-card-text
        style="font-size: 0.85rem"
        class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row>
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.user_id"
                :items="allUsers"
                item-value="id"
                item-title="name"
                label="User"
                variant="outlined"
                density="compact"
                :rules="[rules.nonzerolen, rules.morethanspace]"
                :disabled="disabled"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.role_id"
                :items="roles"
                item-value="id"
                item-title="name"
                label="Role"
                variant="outlined"
                density="compact"
                :selected="viewerRoleId"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-combobox
                v-model="item.element_id"
                :items="allElements"
                item-value="id"
                item-title="name"
                :return-object="false"
                clearable
                label="Element"
                variant="outlined"
                density="compact"
                :rules="[elementCheck, rules.morethanspace]"
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-checkbox
                v-model="item.approved"
                label="Approved"
                density="compact"
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <v-btn
          color="white"
          class="px-3 bg-success"
          background="success"
          elevation="2"
          :disabled="!valid || disabled"
          @click="submit()"
        >
          Submit
        </v-btn>
      </v-card-actions>
      <ErrorDialog
        :model-value="errorIsActive"
        :error="error"
        @close="errorIsActive = false; this.error = null"
        @reload="errorIsActive = false; this.error = null"
        @back="errorIsActive = false; this.error = null"
      ></ErrorDialog>
    </v-form>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import { formRules } from '~/lib/formrules'
</script>

<script>
import ErrorDialog from '~/components/ErrorDialog.vue'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client.js'
import { userStore } from '~/stores/user.js'

export default defineComponent({
    name: 'RoleBinding',
    props: {
        title: {
            type: Boolean,
            required: false,
            default: true
        },
        user_id: {
            type: String,
            required: false,
            default: null
        },
        user_name: {
            type: String,
            required: false,
            default: null
        },
        element_id: {
            type: String,
            required: false,
            default: null
        }
    },
    emits: [ "created" ],
    data() {
        return {
            item: {
                user_id: this.user_id || null,
                user_name: this.user_name || null,
                element_id: this.element_id || null,
                role_id: this.viewerRole || null,
                approved: this.$clientStore.is_admin || false,
            },
            valid: true,
            rules: formRules(),
            disabled: false,
            error: null,
            errorIsActive: false,
        }
    },
    async mounted() {
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(userStore, {
            roles: (state) => state.roles.roles
        }),
        allElements() {
            if (this.element_id)
                return [{
                    id: this.element_id,
                    name: getElementNameById(this.element_id)
                }]
            else if (this.is_admin)
                return this.$adminStore.all_elements.elements
            else
                return this.$userStore.elements
        },
        allUsers() {
            if (this.user_id)
                return [{
                    id: this.user_id,
                    name: this.user_name,
                }]
            else if (this.is_admin)
                return this.$adminStore.all_elements.elements
            else
                return this.$userStore.elements
        },
        viewerRoleId() {
            return this.$userStore.getRoleByName('viewer')
        },
        
    },
    methods: {
        elementCheck() {
            var rn = null
            if (this.item.role_id)
                rn = this.$userStore.getRoleNameById(this.item.role_id)

            if (!this.item.element_id) {
                if (rn !== "viewer" && rn !== "admin" && rn !== "account") {
                    return "Roles other than viewer and admin require an Element to be selected"
                }
                return true
            }
            else if (rn === "admin") {
                return "The admin role must be global: not bound to an Element"
            }
            else {
                return true
            }
        },
        async submit() {
            this.disabled = true

            // Backend wants a real uuid for .element_id, else if an element
            // name, must place that in .element_name .
            let submitItem = {
                user_id: this.item.user_id,
                role_id: this.item.role_id,
                element_id: null,
                approved: this.item.approved
            }
            if (this.item.element_id && this.rules.validUUID(this.item.element_id) !== true)
                submitItem.element_name = this.item.element_id
            else if (this.item.element_id)
                submitItem.element_id = this.item.element_id
            console.log("RoleBindingCreate:submitItem", submitItem)
                
            let data = await this.$roleBindingsEndpoint.create(submitItem).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })
            if (!this.errorIsActive) {
                this.notifyCreated(data)
            }

            this.disabled = false
        },
        notifyCreated(x) {
            console.log("RoleBindingCreate:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        }
    },
    watch: {
    },
});
</script>
