<template>
  <v-form
    v-if="item"
  >
    <v-card>
      <v-card-title>
        <span v-if="create">New Spectrum</span>
        <span v-else>Edit Spectrum <i>{{ item.name }}</i> ({{item.id}})</span>
      </v-card-title>
      <v-card-text
          style="font-size: 0.85rem"
          class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row v-if="create">
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.element_id"
                :items="allElements"
                item-title="name"
                item-value="id"
                label="Element"
                variant="outlined"
                density="compact"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.name"
                  label="Name"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.nonzerolen, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.description"
                  clearable
                  label="Description"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.url"
                  clearable
                  label="URL"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols=3 class="py-0 px-0 mr-10">
              <v-text-field
                  v-model.lazy="starts_at_readable"
                  clearable
                  label="Starts"
                  variant="outlined"
                  density="compact"
                  placeholder="MM/DD/YYYY"
                  :rules="[rules.morethanspace, rules.validDate]"
              ></v-text-field>
            </v-col>
            <v-col cols=3 class="py-0 px-0">
              <v-text-field
                  v-model.lazy="expires_at_readable"
                  clearable
                  label="Expires"
                  variant="outlined"
                  density="compact"
                  placeholder="MM/DD/YYYY"
                  :rules="[rules.morethanspace, rules.validDate]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-checkbox
                  v-model="item.enabled"
                  label="Enabled"
                  density="compact"
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
        <v-container class="pt-0">
          <div class="d-flex justify-center mb-2">
            <span class="text-subtitle-2">Constraints</span>
          </div>
          <v-row v-for="c in item.constraints">
            <v-divider></v-divider>
            <v-col class="v-col-3">
              <v-text-field
                v-model.number="c.constraint.min_freq"
                  label="Min Freq"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.validFrequency]"
                  @change="c.constraint.min_freq = frequencyChanged(c.constraint.min_freq)"
              ></v-text-field>
              <v-text-field
                  v-model.number="c.constraint.max_freq"
                  label="Max Freq"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.validFrequency]"
                  @change="c.constraint.max_freq = frequencyChanged(c.constraint.max_freq)"
              ></v-text-field>
            </v-col>
            <v-col class="v-col-3">
              <v-text-field
                  v-model.number="c.constraint.min_eirp"
                  label="Min eirp"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.validEIRP]"
              ></v-text-field>
              <v-text-field
                  v-model.number="c.constraint.max_eirp"
                  label="Max eirp"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.validEIRP]"
                ></v-text-field>
            </v-col>
            <v-col class="v-col-3">
              <v-text-field
                  v-model.number="c.constraint.bandwidth"
                  label="Bandwidth"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.morethanspace, rules.positiveInteger]"
              ></v-text-field>
              <v-checkbox
                  v-model="c.constraint.exclusive"
                  label="Exclusive"
                  density="compact"
              ></v-checkbox>
            </v-col>
            <v-col class="v-col-3">
              <div class="d-flex justify-end">
                <v-btn
                  color="white"
                  class="px-3 bg-success"
                  background="success"
                  elevation="2"
                  icon="mdi-delete"
                  @click="removeConstraint(c)"
                  />
              </div>
            </v-col>
          </v-row>
          <div class="d-flex justify-end">
            <v-btn
              color="white"
              class="px-3 bg-success"
              background="success"
              elevation="2"
              @click="addConstraint()"
              >
              Add Constraint
            </v-btn>
          </div>
        </v-container>
        <v-container class="pt-0">
          <div class="d-flex justify-center mb-2">
            <span class="text-subtitle-2">Policies</span>
          </div>
          <v-row v-for="p in item.policies">
            <v-divider></v-divider>
            <v-col class="v-col-3">
              <v-combobox
                v-model="p.element_id"
                :items="allElements"
                item-value="id"
                item-title="name"
                :return-object="false"
                clearable
                label="Element"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-combobox>
              <v-checkbox
                  v-model="p.allowed"
                  label="Allowed"
                  density="compact"
              ></v-checkbox>
              <v-checkbox
                  v-model="p.auto_approve"
                  label="Auto Approve"
                  density="compact"
              ></v-checkbox>
            </v-col>
            <v-col class="v-col-3">
              <v-text-field
                  v-model.number="p.priority"
                  label="Priority"
                  variant="filled"
                  density="compact"
                  type="number"
                  :rules="[rules.positiveInteger]"
              ></v-text-field>
              <v-text-field
                  v-model="p.max_duration"
                  label="Max Duration"
                  variant="filled"
                  density="compact"
                  :rules="[rules.positiveInteger]"
                ></v-text-field>
            </v-col>
            <v-col class="v-col-3">
              <v-checkbox
                  v-model="p.when_unoccupied"
                  label="When Unoccupied"
                  density="compact"
              ></v-checkbox>
              <v-checkbox
                  v-model="p.disable_emit_check"
                  label="Disable Emit Check"
                  density="compact"
              ></v-checkbox>
              <v-checkbox
                  v-model="p.allow_conflicts"
                  label="Allow Conflicts (within Element)"
                  density="compact"
              ></v-checkbox>
            </v-col>
            <v-col class="v-col-3">
              <div class="d-flex justify-end">
                <v-btn
                  color="white"
                  class="px-3 bg-success"
                  background="success"
                  elevation="2"
                  icon="mdi-delete"
                  @click="removePolicy(p)"
                  />
              </div>
            </v-col>
          </v-row>
          <div class="d-flex justify-end">
            <v-btn
              color="white"
              class="px-3 bg-success"
              background="success"
              elevation="2"
              @click="addPolicy()"
              >
              Add Policy
            </v-btn>
          </div>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <div v-if="create">
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="disabled"
            >
            Create
            <Confirm activator="parent"
                     message="Are you sure you want to create this spectrum?"
                     @confirmed="submit">
            </Confirm>
            
          </v-btn>
        </div>
        <div v-else>
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="disabled"
            >
            Save
            <Confirm activator="parent"
                     message="Are you sure you want to save these changes?"
                     @confirmed="save">
            </Confirm>
          </v-btn>
          <v-btn
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Delete
            <Confirm activator="parent"
                     message="Are you sure you want to delete this spectrum?"
                     @confirmed="remove">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!item.approved_at"
            color="white"
            class="px-3 bg-success ml-6"
            background="success"
            elevation="2"
            :disabled="disabled"
            >
            Approve
            <Confirm activator="parent"
                     message="Are you sure you want to approve this spectrum?"
                     @confirmed="approve">
            </Confirm>
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
  <ErrorDialog
    :model-value="errorIsActive"
    :error="error"
    @close="errorIsActive = false; this.error = null"
    @reload="errorIsActive = false; this.error = null"
    @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
</template>

<script>
  import { mapState } from 'pinia'
  import { clientStore } from '~/stores/client'
  import { formRules } from '~/lib/formrules'
  import Confirm from '~/components/Confirm.vue'
  import ErrorDialog from '~/components/ErrorDialog.vue'
  import moment from 'moment'  

export default defineComponent({
    name: 'SpectrumEdit',
    components: {
        Confirm: () => import("@/components/Confirm")
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    data() {
        return {
            disabled: false,
            rules: formRules(),
            errorIsActive: false,
            error: null,
            unsaved: false,
            starts_at_readable:  (this.item.starts_at != null ?
                                  moment(this.item.starts_at).format("L") : ""),
            expires_at_readable: (this.item.expires_at != null ?
                                  moment(this.item.expires_at).format("L") : ""),
        }
    },
    emits: ['modified', 'created'],
    async mounted() {
        console.log("SpectrumEdit:mounted")
        if (this.create) {
            this.addConstraint();
            this.addPolicy();
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        allElements() {
            if (this.is_admin)
                return this.$adminStore.all_elements.elements
            else
                return this.$userStore.elements
        },
    },
    methods: {
        addConstraint() {
            this.item.constraints.push({
                constraint : {
                    min_freq:  0,
                    max_freq:  0,
                    min_eirp:  null,
                    max_eirp:  0,
                    exclusive: true,
                    bandwidth: 0,
                },
            });
        },
        removeConstraint(which) {
            if (this.item.constraints.length == 1) {
                return;
            }
            this.item.constraints = this.item.constraints.filter(function (x) {
                return x != which;
            });
        },
        addPolicy() {
            this.item.policies.push({
                "allowed"      : true,
                "auto_approve" : true,
                "max_duration" : 0,
                "priority"     : 1024,
                "element_id"   : null,
            });
        },
        removePolicy(which) {
            if (this.item.policies.length == 1) {
                return;
            }
            this.item.policies = this.item.policies.filter(function (x) {
                return x != which;
            });
        },
        convertDates() {
            if (this.starts_at_readable != "") {
                    this.item.starts_at = moment(this.starts_at_readable).toISOString();
            }
            if (this.expires_at_readable != "") {
                    this.item.expires_at = moment(this.expires_at_readable).toISOString();
            }
        },
        async approve() {
            console.log("SpectrumEdit:Approve")
            this.item.approved_at = moment().toISOString();
            await save()
        },
        async save() {
            console.log("SpectrumEdit:Save")
            this.convertDates();
            this.disabled = true
            let data = await this.$spectrumEndpoint
                .update(this.item.id, this.item).catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            this.notifyModified(data)
            this.disabled = false
        },
        async remove() {
            console.log("SpectrumEdit:Delete")
            this.disabled = true
            await this.$spectrumEndpoint
                .delete(this.item.id, this.item).catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                })
            this.disabled = false
            navigateTo('/')
        },
        async submit() {
            this.disabled = true
            this.convertDates();

            let data = await this.$spectrumEndpoint.create(this.item).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })
            if (data) {
                this.notifyCreated(data)
            }
            this.disabled = false
        },
        notifyModified(x) {
            console.log("SpectrumEdit:notifyModified", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('modified', event)
        },
        notifyCreated(x) {
            console.log("SpectrumEdit:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        },
        // Drives me nuts to have to type so many zeros
        frequencyChanged(freq) {
            if (freq < 10000) {
                return freq * 1000000;
            }
            return freq;
        },
    },
    watch: {
        item: {
            deep: true,
            handler(val) {
                this.unsaved = true;
            }
        }
    },
});
</script>
