<template>
  <v-card>
    <v-form
      v-model="valid"
    >
      <v-card-title
        v-if="title"
      >
        Create Token
      </v-card-title>
      <v-card-text
        style="font-size: 0.85rem"
        class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row>
            <v-col class="py-0 px-0">
              <v-combobox
                v-model="tokenRoleBindings"
                :items="token.role_bindings"
                item-value="role_binding_id"
                item-title="role_binding_id"
                multiple
                :return-object="false"
                label="Role Bindings"
                variant="outlined"
                density="compact"
                :rules="[rules.required]"
              >
                <template v-slot:item="{ item, props }">
                  <v-list-item v-bind="props">
                    <template v-slot:title>
                      <v-chip
                        size="small"
                        :color="$userStore.getRoleColorById(item.raw.role_binding.role_id)"
                      >
                        {{ $userStore.getRoleNameById(item.raw.role_binding.role_id) + (item.raw.role_binding.element_id ? ":" + getElementNameById(item.raw.role_binding.element_id) : "") }}
                      </v-chip>
                    </template>
                  </v-list-item>
                </template>
                <template v-slot:selection="{ item }">
                  <v-chip
                    size="small"
                    :color="$userStore.getRoleColorById(item.raw.role_binding.role_id)"
                  >
                    {{ $userStore.getRoleNameById(item.raw.role_binding.role_id) + (item.raw.role_binding.element_id ? ":" + getElementNameById(item.raw.role_binding.element_id) : "") }}
                  </v-chip>
</template>
              </v-combobox>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="expiresAt"
                label="Expires At"
                hint="ISO 8601 date-time: e.g. `2024-01-30T22:11:05.000000Z`"
                variant="outlined"
                density="compact"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <v-btn
          color="white"
          class="px-3 bg-success"
          background="success"
          elevation="2"
          :disabled="!valid || disabled"
          @click="submit()"
        >
          Submit
        </v-btn>
      </v-card-actions>
      <ErrorDialog
        :model-value="errorIsActive"
        :error="error"
        @close="errorIsActive = false; this.error = null"
        @reload="errorIsActive = false; this.error = null"
        @back="errorIsActive = false; this.error = null"
      ></ErrorDialog>
    </v-form>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import { formRules } from '~/lib/formrules'
</script>

<script>
import ErrorDialog from '~/components/ErrorDialog.vue'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client.js'
import { userStore } from '~/stores/user.js'

export default defineComponent({
    name: 'TokenCreate',
    props: {
        title: {
            type: Boolean,
            required: false,
            default: true
        },
        user: {
            type: Object,
            required: true
        },
        token: {
            type: Object,
            required: true
        }
    },
    emits: [ "created" ],
    data() {
        return {
            tokenRoleBindings: [],
            expiresAt: null,
            valid: true,
            rules: formRules(),
            disabled: false,
            error: null,
            errorIsActive: false,
        }
    },
    async mounted() {
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        })
    },
    methods: {
        async submit() {
            this.disabled = true

            var submitItem = {
                method: "token",
                credential: { token: this.token.token },
                role_binding_ids: this.tokenRoleBindings,
            }
            if (this.expiresAt)
                submitItem.expires_at = this.expiresAt

            console.log("TokenCreate:submitItem", submitItem)
                
            let data = await this.$tokensEndpoint.create(submitItem).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })
            if (!this.errorIsActive) {
                this.notifyCreated(data)
            }

            this.disabled = false
        },
        notifyCreated(x) {
            console.log("TokenCreate:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        }
    },
    watch: {
    },
});
</script>
