<template>
  <v-card v-if="item">
    <v-form v-model="valid">
      <v-card-title>
        <span v-if="create">Create User</span>
        <span v-else>Edit User <i>{{ item.name }}</i> ({{item.id}})</span>
      </v-card-title>
      <v-card-text
        style="font-size: 0.85rem"
        class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.name"
                label="Username"
                variant="outlined"
                density="compact"
                :rules="[rules.required, rules.nonzerolen, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.full_name"
                clearable
                label="Name"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.given_name"
                clearable
                label="Given Name"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.family_name"
                clearable
                label="Family Name"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <ClientOnly>
            <!--
              -- Make these ClientOnly to avoid hydration errors on
              -- direct-route app load; is_admin, create are not avail
              -- in SSR.
            -->
            <v-row v-if="create">
              <v-col class="py-0 px-0">
                <v-text-field
                  v-model="item.primary_email_address"
                  clearable
                  label="Primary Email Address"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.validEmail]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row v-if="is_admin">
              <v-col class="py-0 px-0">
                <v-checkbox
                  v-model="item.enabled"
                  label="Enabled"
                  density="compact"
                ></v-checkbox>
              </v-col>
            </v-row>
            <v-row v-if="create">
              <v-col class="py-0 px-0">
                <v-text-field
                  v-model="password"
                  clearable
                  type="password"
                  label="Password"
                  hint="Password must be at least 8 characters; contain one of each distinct uppercase, lowercase, number, and special characters (@!#$%^&*()+=-)."
                  variant="outlined"
                  density="compact"
                  :rules="[passwordRule]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row v-if="create && passwordUpdated">
              <v-col class="py-0 px-0">
                <v-text-field
                  v-model="passwordConfirmed"
                  clearable
                  type="password"
                  label="Confirm password"
                  variant="outlined"
                  density="compact"
                  :rules="[passwordsMatchRule]"
                ></v-text-field>
              </v-col>
            </v-row>
          </ClientOnly>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <v-btn
          v-if="create"
          color="white"
          class="px-3 bg-success"
          background="success"
          elevation="2"
          :disabled="!valid || disabled"
          @click="submit()"
        >
          Submit
        </v-btn>
        <v-btn
          v-else
          color="white"
          class="px-3 bg-success"
          background="success"
          elevation="2"
          :disabled="!valid || disabled"
          @click="save()"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-form>
    <ErrorDialog
      :model-value="errorIsActive"
      :error="error"
      @close="errorIsActive = false; this.error = null"
      @reload="errorIsActive = false; this.error = null"
      @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'
import { formRules } from '~/lib/formrules'
</script>

<script>
import ErrorDialog from '~/components/ErrorDialog.vue'
  
export default defineComponent({
    name: 'UserEdit',
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    emits: [
        'modified',
        'created'
    ],
    data() {
        return {
            valid: true,
            disabled: false,
            // Return true if valid, else error message.
            rules: formRules(),
            errorIsActive: false,
            error: null,
            password: null,
            passwordConfirmed: null
        }
    },
    async mounted() {
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        allElements() {
            if (this.is_admin)
                return this.$adminStore.all_elements.elements
            else
                return this.$userStore.elements
        },
        allLocations() {
            if (this.is_admin)
                return this.$adminStore.all_locations.locations
            else
                return this.$userStore.locations
        },
        passwordUpdated() {
            return Boolean(this.password)
        }
    },
    methods: {
        passwordRule() {
            let p = this.password
            if (!p)
                return true

            if (!p.match(/[A-Z]/) || !p.match(/[a-z]/)
                || !p.match(/[@!#$%^&*\(\)\+=\-]/) || !p.match(/[0-9]/))
                return "Password must be at least 8 characters; contain one of each distinct uppercase, lowercase, number, and special characters (@!#$%^&*()+=-)."

            return true
        },
        passwordsMatchRule() {
            return this.password == this.passwordConfirmed
        },
        async save() {
            this.disabled = true
            await this.$usersEndpoint.update(this.item.id, this.item).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
            })
            this.disabled = false
        },
        async submit() {
            this.disabled = true
            this.item.password = this.password
            let data = await this.$usersEndpoint.create(this.item).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })
            if (!this.errorIsActive) {
                this.notifyCreated(data)
            }
            this.disabled = false
        },
        notifyModified() {
            console.log("UserEdit:notifyModified", this.item)
            let event = {
                id: this.item.id,
                item: this.item,
            }
            this.$emit('modified', event)
        },
        notifyCreated(x) {
            console.log("UserEdit:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        }
    },
    watch: {
    }
});
</script>
