<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Users
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="4">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="user"
            clearable
            density="compact"
            variant="outlined"
            hint="Search username, person name, email"
            placeholder="User, name, email"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="3">
          <v-combobox
            clearable
            style="font-size: 0.75rem"
            v-model="role"
            density="compact"
            variant="outlined"
            :items="roleList"
            item-title="name"
            item-value="id"
            hint="Role"
            @update:menu="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-combobox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="enabled.value"
            :indeterminate="enabled.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, enabled)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Enabled
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
        </v-col>
        <v-col v-if="is_admin" cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/users/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Create User</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
        >
          <template v-slot:item.name="{ item }">
            <v-tooltip location="bottom">
              <template v-slot:activator="{ on, props }">
                <NuxtLink
                  v-if="item.id"
                  color="gray"
                  :to="`/users/${item.id}`"
                  nuxt
                  v-bind="props"
                >
                  <v-icon>mdi-account</v-icon>
                </NuxtLink>
                {{ item.name }}
              </template>
              <span>View User</span>
            </v-tooltip>
          </template>
          <template v-slot:item.roles="{ item }">
            <v-chip
              v-for="rb in item.role_bindings"
              size="small"
              :color="$userStore.getRoleColorById(rb.role_id)"
            >
              {{ $userStore.getRoleNameById(rb.role_id) + (rb.element_id ? ":" + getElementNameById(rb.element_id) : "") }}
            </v-chip>
          </template>
          <template v-slot:item.enabled="{ item }">
            <v-icon
              v-if="item.enabled"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers.js'
</script>

<script>
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'
import { userStore } from '~/stores/user'

export default defineComponent({
    name: 'UserList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        itemsPerPage: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
            user: '',
            role: '',
            deleted: false,
            enabled: {
                value: true,
                indeterminate: true
            },
            headers: [
                { title: 'User', key: 'name', align: 'start', sortable: true },
                { title: 'Email', key: 'primary_email_address.email_address', sortable: false },
                { title: 'Name', key: 'full_name', sortable: true },
                { title: 'Roles', key: 'roles', sortable: false },
                { title: 'Enabled', key: 'enabled', sortable: true },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
                { title: 'Deleted', key: 'deleted_at', sortable: true },
                { title: 'Actions', key: 'actions', sortable: false }
            ],
            options: {
                itemsPerPage: this.itemsPerPage,
                page: this.page,
                sortBy: [{
                    key: 'updated_at',
                    order: 'asc'
                }]
            }
        }
    },
    async mounted() {
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
        roleList() {
            return this.$userStore.roles.roles
        }
    },
    methods: {
        notifyRefresh() {
            let event = {
                page: this.options.page,
                itemsPerPage: this.options.itemsPerPage,
            }
            if (this.user) event['user'] = this.user
            if (this.role) event['role'] = this.role.id
            event['deleted'] = this.deleted
            if (!this.enabled.indeterminate) {
                event['enabled'] = this.enabled.value
            }
            if (this.options.sortBy[0] !== undefined
                && this.options.sortBy[0].key) {
                event['sort'] = this.options.sortBy[0].key
                if (this.options.sortBy[0].order === 'asc')
                    event['sort_asc'] = true
            }
            this.$emit('needsUpdate', event)
        },
        indetCheckboxClick(evt, model) {
            //console.log("indetCheckboxClick:in", evt, model)
            if (evt.ctrlKey) {
                if (!model.indeterminate) {
                    model.indeterminate = true
                    this.notifyRefresh()
                }
                evt.preventDefault()
                evt.stopPropagation()
            }
            else {
                model.indeterminate = false
            }
            //console.log("indetCheckboxClick:out", evt, model)
        }
    },
    watch: {
        options: {
            handler() {
                console.log("UserList: options changed")
                this.notifyRefresh()
            },
            deep: true
        }
    }
});
</script>
