<template>
  <AntennaEdit
    :item="antenna"
    :create="true"
    @created="(params) => handleCreated(params)"
    ></AntennaEdit>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import AntennaEdit from '~/components/AntennaEdit.vue'
import moment from 'moment'  

export default defineComponent({
    components: {
        AntennaEdit: defineAsyncComponent(() => import("@/components/AntennaEdit.vue")),
    },
    data() {
        return {
            antenna: {
                name: "",
                description: "",
                type: "",
                Vendor: "",
                Model: "",
                url: "",
                gain: null,
                beam_width: null,
            }
        }
    },
    methods: {
        handleCreated(params) {
            console.log("antenna.create:handleCreated", params);
            navigateTo("/antennas/" + params.item.id);
        }
    }
});
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
