<template>
  <div v-if="radioport.radioport">
    <Suspense>
      <RadioPortEdit
        :item="radioport.radioport"
        @modified="(params) => handleModified(params)">
      </RadioPortEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import RadioPortEdit from '~/components/RadioPortEdit.vue'

export default defineComponent({
    components: {
        RadioPortEdit: defineAsyncComponent(() => import("@/components/RadioPortEdit.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("RadioPort:edit:mounted", this.$route.params);
        await this.$zoneStore.fetchRadioPort(
            this.$route.params.id, this.$route.params.portid);
    },
    computed: {
        ...mapState(zoneStore, {
            radioport: (state) => state.radioport
        }),
    },
    methods: {
        handleModified(params) {
            console.log("RadioPort:edit:handleModified", params);
            this.radioport.radioport = params.item
            // Take user back to the edit radio page
            navigateTo("/radios/" + this.$route.params.id + "/edit")
        }
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
