<template>
  <Login></Login>
</template>

<script>
export default defineComponent({
    mounted() {
        if (this.$auth.status.value === 'authenticated')
            navigateTo('/')
    }
})
</script>
