<template>
  <GrantEdit
    :item="grant"
    :create="true"
    @created="(params) => handleCreated(params)"
    ></GrantEdit>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import GrantEdit from '~/components/GrantEdit.vue'
import moment from 'moment'  
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'

export default defineComponent({
    components: {
        GrantEdit: defineAsyncComponent(() => import("@/components/GrantEdit.vue")),
    },
    data() {
        return {
            grant: {
                element_id: (this.is_admin ? null : this.$userStore.element_id),
                name: "",
                description: "",
                priority: 0,
                enabled: false,
                starts_at: moment().toISOString(),
                expires_at: null,
                constraints: [],
                int_constraints: [],
                rt_int_constraints: [],
                radio_ports: [],
            }
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
    },
    methods: {
        handleCreated(params) {
            console.log("grant.create:handleCreated", params);
            navigateTo("/grants/" + params.item.id);
        }
    }
});
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
