<template>
  <div v-if="raObservation">
    <Suspense>
      <template #default>
        <RAObservationEdit
          :key="componentKey"
          :item="raObservation"
          @modified="handleModified"
          @created="handleCreated"
        />
      </template>
      <template #fallback>
        <div>Loading...</div>
      </template>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'

export default defineComponent({
  components: {
    RAObservationEdit: defineAsyncComponent(() => import("@/components/RAObservationEdit.vue")),
  },
  setup() {
    const componentKey = ref(0)

    return {
      componentKey
    }
  },
  data() {
    return {
    }
  },
  async mounted() {
    if (this.$route.params.id) {
      await this.$zoneStore.fetchRAObservation(this.$route.params.id)
      // print
      console.log("RAObservation:edit:mounted", this.raObservation)
      this.componentKey++ // Increment the key to force re-render
    } 
  },
  computed: {
    ...mapState(userStore, {
      is_admin: (state) => state.is_admin
    }),
    ...mapState(zoneStore, {
      raObservation: (state) => state.raobservation
    }),
  },
  methods: {
    handleModified(params) {
      console.log("RAObservation:edit:handleModified", params);
      this.raObservation = params.item
    },
    handleCreated(params) {
      console.log("RAObservation:edit:handleCreated", params);
      // Navigate to the edit page of the newly created RAObservation
      navigateTo(`/raobservations/${params.id}`)
    }
  },
  watch: {
  }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>