<template>
  <div v-if="raObservation">
    <Suspense>
      <RAObservation
        :item="raObservation"
        :editable="true"
        @refresh="() => refresh()"
      />
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'

export default defineComponent({
  components: {
    RAObservation: defineAsyncComponent(() => import("@/components/RAObservation.vue")),
  },
  data() {
    return {
      timer: null,
    }
  },
  async mounted() {
    console.log("raobservations:index:mounted");
    await this.$zoneStore.fetchRAObservation(this.$route.params.id);
    // this.timer = setInterval(this.refresh, 60000);
  },
  unmounted() {
    console.log("raobservations:index:unmounted");
    // clearInterval(this.timer);
  },
  computed: {
    ...mapState(userStore, {
      is_admin: (state) => state.is_admin
    }),
    ...mapState(zoneStore, {
      raObservation: (state) => state.raobservation,
    }),
  },
  methods: {
    refresh() {
      this.$zoneStore.fetchRAObservation(this.$route.params.id);
    },
  },
  watch: {
  }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>