<template>
  <div v-if="grant.grant">
    <Suspense>
      <GrantEdit
        :item="grant.grant"
        @modified="(params) => handleModified(params)"
        @replaced="(params) => handleReplaced(params)"
      >
      </GrantEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import GrantEdit from '~/components/GrantEdit.vue'

export default defineComponent({
    components: {
        GrantEdit: defineAsyncComponent(() => import("@/components/GrantEdit.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchGrant(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            grant: (state) => state.grant
        }),
    },
    methods: {
        handleModified(params) {
            console.log("Grant:edit:handleModified", params);
            this.grant.grant = params.item
        },
        handleReplaced(params) {
            console.log("Grant:edit:handleReplaced", params);
            navigateTo(`/grants/${params.id}`)
        }
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
